@model IEnumerable<Natam.Data.Entities.BuildingQueryView>
@using GridMvc.Html

@{
    Layout = "~/Views/_View.cshtml";
    ViewBag.Title = "Buildings";
}

@section head {
    <link rel="stylesheet" href="~/Content/css/Gridmvc.css">
    <script type="text/javascript" src="~/Scripts/plagins/gridmvc.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $(".viewDialog").on("show.bs.modal", function (e) {
                //if (!data) return e.preventDefault() // stops modal from being shown
                var url = $(this).attr('href');
                $("#myModal").dialog({
                    title: 'View',
                    autoOpen: false,
                    resizable: false,
                    height: 400,
                    width: 600,
                    show: { effect: 'drop', direction: "up" },
                    modal: true,
                    draggable: true,
                    open: function (event, ui) {
                        $(this).load(url);

                    }
                    //buttons: {
                    //    "Close": function () {
                    //        $(this).dialog("close");

                    //    }
                    //},
                    //close: function (event, ui) {
                    //    $(this).dialog('close');
                    //}
                });

                $("#myModal").dialog('open');
                return false;
            });
        });

        /*
        $(document).ready(function () {
            
            $("#CreateCustomer").live("click", function (e) {
                // e.preventDefault(); use this or return false
                var url = $(this).attr('href');
                $("#dialog-edit").dialog({
                    title: 'Create Customer',
                    autoOpen: false,
                    resizable: false,
                    height: 355,
                    width: 400,
                    show: { effect: 'drop', direction: "up" },
                    modal: true,
                    draggable: true,
                    open: function (event, ui) {
                        $(this).load(url);

                    },
                    close: function (event, ui) {
                        $(this).dialog('close');
                    }
                });

                $("#dialog-edit").dialog('open');
                return false;
            });



            $(".editDialog").live("click", function (e) {
                // e.preventDefault(); use this or return false
                var url = $(this).attr('href');
                $("#dialog-edit").dialog({
                    title: 'Edit Customer',
                    autoOpen: false,
                    resizable: false,
                    height: 355,
                    width: 400,
                    show: { effect: 'drop', direction: "up" },
                    modal: true,
                    draggable: true,
                    open: function (event, ui) {
                        $(this).load(url);

                    },
                    close: function (event, ui) {
                        $(this).dialog('close');
                    }
                });

                $("#dialog-edit").dialog('open');
                return false;
            });
           

            $(".confirmDialog").live("click", function (e) {

                // e.preventDefault(); use this or return false
                var url = $(this).attr('href');

                $("#dialog-confirm").dialog({
                    autoOpen: false,
                    resizable: false,
                    height: 170,
                    width: 350,
                    show: { effect: 'drop', direction: "up" },
                    modal: true,
                    draggable: true,
                    buttons: {
                        "OK": function () {
                            $(this).dialog("close");
                            window.location = url;

                        },
                        "Cancel": function () {
                            $(this).dialog("close");

                        }
                    }
                });
                $("#dialog-confirm").dialog('open');
                return false;
            });

            $(".viewDialog").on("click", function (e) {
                // e.preventDefault(); use this or return false
                var url = $(this).attr('href');
                $("#dialog-view").dialog({
                    title: 'View',
                    autoOpen: false,
                    resizable: false,
                    height: 250,
                    width: 400,
                    show: { effect: 'drop', direction: "up" },
                    modal: true,
                    draggable: true,
                    open: function (event, ui) {
                        $(this).load(url);

                    },
                    //buttons: {
                    //    "Close": function () {
                    //        $(this).dialog("close");

                    //    }
                    //},
                    //close: function (event, ui) {
                    //    $(this).dialog('close');
                    //}
                });

                $("#dialog-view").dialog('open');
                return false;
            });

            $("#btncancel").on("click", function (e) {
                // location.reload(true);
                $("#dialog-edit").dialog('close');

            });
        });
                     */

</script>
}
@section featured {


}

<hgroup class="title">
    <h3 class="rightPan">רשימת נכסים.</h3>
</hgroup>
<div class="clear"></div>

<div class="global">
    <div class="container">
        
        <div class="grid-wrap">
            <div style="display:inline; text-align:right">
                <a href="http://www.emap.co.il/emap/" title="הצג מפה" target="_blank"><img src="~/Images/icons/emap.png" alt="emap" /></a>
            </div>
  
            @Html.Grid(Model).Columns(columns =>
                    {
                        columns.Add(c => c.BuildingCity).Titled("אזור-עיר");
                        columns.Add(c => c.BuildingName).Titled("שם הבניין");
                        columns.Add(c => c.BuildingStreet).Titled("רחוב");
                        columns.Add(c => c.BuildingFloortAreaMr).Titled("שטח פנוי");
                        columns.Add(c => c.BuildingContactPerson).Titled("איש קשר");
                        columns.Add(c => c.BuildingPopulationDate).Titled("מועד עדכון").Format("{0:dd/MM/yyyy}");
                        columns.Add(c => c.ShowAddToList).Titled("הוסף לפנקס").Sanitized(false).Encoded(false).RenderValueAs(o => Html.ActionLink("הצג", "QueryPopup", "Building", new { showcase = "ShowAddToList", ID = o.ID }, new { @class = "viewDialog" }).ToHtmlString());
                        columns.Add(c => c.ShowInfo).Titled("מידע נוסף").Sanitized(false).Encoded(false).RenderValueAs(o => Html.ActionLink("הצג", "QueryPopup", "Building", new { showcase = "ShowInfo", ID = o.ID }, new { @class = "viewDialog" }).ToHtmlString());
                        columns.Add(c => c.ShowPicture).Titled("הצג תמונה").Sanitized(false).Encoded(false).RenderValueAs(o => Html.ActionLink("הצג", "QueryPopup", "Building", new { showcase = "ShowPicture", ID = o.ID }, new { @class = "viewDialog" }).ToHtmlString());
                        //columns.Add(c => c.ShowMap).Titled("הצג מפה").Sanitized(false).Encoded(false).RenderValueAs(o => Html.ActionLink("הצג", "QueryPopup", "Building", new { showcase = "ShowMap", ID = o.ID }, new { @class = "viewDialog" }).ToHtmlString());
                        columns.Add(c => c.ShowComment).Titled("הוסף הערה").Sanitized(false).Encoded(false).RenderValueAs(o => Html.ActionLink("הצג", "QueryPopup", "Building", new { showcase = "ShowComment", ID = o.ID }, new { @class = "viewDialog" }).ToHtmlString());
                        columns.Add(c => c.ShowHistrtory).Titled("היסטוריה").Sanitized(false).Encoded(false).RenderValueAs(o => Html.ActionLink("הצג", "QueryPopup", "Building", new { showcase = "ShowHistrtory", ID = o.ID }, new { @class = "viewDialog" }).ToHtmlString());
                        columns.Add(c => c.ShowUnitsDetails).Titled("פירוט יחידות").Sanitized(false).Encoded(false).RenderValueAs(o => Html.ActionLink("הצג", "QueryPopup", "Building", new { showcase = "ShowUnitsDetails", ID = o.ID }, new { @class = "viewDialog" }).ToHtmlString());
                    }).WithPaging(15).Sortable()//.Filterable().WithMultipleFilters()
            
        </div>
 <div id="dialog-edit" style="display: none">
</div>
<div id="dialog-view" style="display: none; background-color:#fff">
  
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">סגור</span></button>
        <h4 class="modal-title" id="myModalLabel">תצוגה</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">סגור</button>
        <!--<button type="button" class="btn btn-primary">Save changes</button>-->
      </div>
    </div>
  </div>
</div>

 <!-- Modal 
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            ×</button>
        <h3 id="myModalLabel">
            Edit Customer</h3>
    </div>
    <div class="modal-body">
        <p>
            Loading…</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">
            Close</button>
    </div>
</div>
<script type="text/javascript">
    //this script reset modal each time when you click on the link:
    $(function () {
        $(".modal-link").click(function (event) {
            event.preventDefault();
            $('#myModal').removeData("modal");
            $('#myModal').modal({ remote: $(this).attr("href") });
        });
    })
</script>
-->
    </div>
</div>
