@model Pro.Data.Registry.RegistryPage
@{
    ViewBag.Title = "Mifkad";
    Layout = null;// "~/Views/Mifkad/_ViewRegistry.cshtml";
}
@section cmsHeader {
    @Html.Raw(Model.Header);
}

@section head {

}

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {

        });

    </script>
}
<!--begin of content-wrapper-->

<div style="width:100%; margin-right:5px">

    <div style="width:100%; direction:rtl;text-align:right;">
        @*@Html.Raw(Model.Body)*@

        <p>
            בס"ד
        </p>


        <h4>תנאי שימוש באתר התשלומים:</h4>

        <p> 1. תנועת הבית היהודי אחראית לתוכן המתפרסם על ידה באתר.</p>
        <p> 2. תנועת הבית היהודי אינה מעבירה את פרטי הלקוחות לצד ג'.</p>
        <p> 3. התנועה מספקת את השירות הבא:</p>
        <p>
            א. כל אדם הרוצה להיות חבר בתנועה חייב לשלם דמי חבר שנתיים בסכום
            שנקבע בתקנון התנועה.
        </p>
        <p> ב. הצטרפות לתנועה מותנת באזרחות ישראלית - וגיל מינימום 17 שנים.</p>
        <p> ג. דמי החבר הינם לשנה קלנדרית ומחודשים אוטומטית בכל שנה קלנדרית חדשה.</p>
        <p> ד. למתפקד ישלח מייל עם קבלה ואישור חברות תוך מספר שעות מרגע התשלום.</p>
        <p> ה. ביטול חברות יעשה על ידי שליחת מייל או פקס לתנועה.</p>
        <p> ו. מרגע קבלת הבקשה לביטול החברות תפסק החברות בתנועה ותפסק גביית דמי החבר.</p>
        <p>
            ז. החזר כספי לאותה שנה קלנדרית ניתן לקבל רק במידה וביטול החברות יעשה
            עד 48 שעות מרגע ההתפקדות.
        </p>

        <h4> הצהרות המתפקד:</h4>

        <p>1.	אני אזרח ישראל ותושב בה.</p>
        <p>2.	אני בן 17 שנים לפחות.</p>
        <p> 3.	אינני חבר בכל מפלגה אחרת.</p>
        <p> 4.	אני מזדהה עם המפלגה, מטרותיה ומצעה הרעיוני.</p>
        <p>
            5.	אני מקבל על עצמי את הוראות התקנון ומתחייב לפעול ולמלא אחר
            החלטות המוסדות המוסמכים של המפלגה.
        </p>
        <p>
            6.	לא הורשעתי בפסק דין חלוט בעבירה שיש עמה קלון לכאורה, ולא נגזר
            עלי בעקבות ההרשעה עונש של מאסר בפועל לתקופה העולה על 3 חודשים.
        </p>
        <p>
            7.	אני מסכים כי המפלגה תשמור את פרטי כרטיס האשראי ותגבה באמצעותם
            דמי חבר שנתיים כאשר יקבעו על ידי מוסדות המפלגה בהתאם לתקנון.
        </p>
        <p> 8.	אני מסכים כי המפלגה וגם מועמדים מטעמה רשאים לפנות אלי ולתת לי כל הודעה ומידע בענייני המפלגה באמצעות כלי תקשורת דיגיטליים לרבות דוא"ל וכן sms לפי הפרטים שמסרתי.</p>

        <p> * הבקשה מנוסחת בלשון זכר אולם גם לשון נקבה במשתמע.</p>


    </div>
</div>
    <div style="height: 5px"></div>
    <div>
        @*<input id="btnConfirm" class="btn-default btn7" type="button" value="אישור" />
            <input id="btnCancel" class="btn-default btn7" type="button" value="ביטול" />*@
    </div>

    <!--end of content-wrapper-->
    @*@section cmsFooter {
            @Html.Raw(Model.Footer)
        }
        <script type="text/javascript">
                @Html.Raw(Model.AnalyticsGoogleScript);
                @Html.Raw(Model.AnalyticsFacebookScript);
        </script>*@
