@model IEnumerable<Pro.Data.Entities.AdsPropertyView>
@using GridMvc.Html

@{
    Layout = "~/Views/_View.cshtml";
    ViewBag.Title = "Buildings";
    int voption=0;
}

@section head {
    <link rel="stylesheet" href="~/Content/css/Gridmvc.css">
    <script type="text/javascript" src="~/Scripts/plagins/gridmvc.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#view_option").change(function () {

                var val = $("#view_option").val();
                if(val==1){
                    voption = 1;
                }
                else{
                    voption = 0;
                }
               
            });
        });
    </script>
}
@section featured {


}

<hgroup class="title">
    <h3 class="rightPan">פרסום פעיל.</h3>
</hgroup>
<div class="clear"></div>

<div class="global">
    <div class="container">
        
        <div class="grid-wrap">
            <div style="display:inline; text-align:right;direction:rtl">
                <!--<select name="view_option" id="view_option">
                    <option value="0" selected="selected">פרסום פעיל</option>
                    <option value="1">ממתין לאישור</option>
                </select>-->
                <a href="~/Crm/AdsGrid?id=0&op=all" title="דוח פרסום"  class="btn-default btn2">רענון</a>
            </div>
  
            @Html.Grid(Model).Columns(columns =>
                    {
                        columns.Add(c => c.AdsId).Titled("הצג").Sanitized(false).Encoded(false).RenderValueAs(o => Html.ActionLink("הצג", "Advertise", "Crm", new { id = o.AdsId,op="ads" }, new { @class = "viewDialog" }).ToHtmlString());
                        columns.Add(c => c.AreaName).Titled("אזור-עיר");
                        columns.Add(c => c.BuildingName).Titled("שם הבניין");
                        columns.Add(c => c.Address).Titled("כתובת");
                        columns.Add(c => c.AdsDate).Titled("מועד לפרסום").Format("{0:dd/MM/yyyy}");
                        columns.Add(c => c.AdsOptions).Titled("אפשרויות");
                        columns.Add(c => c.PurposeName).Titled("סוג נכס");
                        columns.Add(c => c.Description).Titled("תאור הנכס");
                        columns.Add(c => c.Creation).Titled("נוצר").Format("{0:dd/MM/yyyy}");
                        columns.Add(c => c.StatusName).Titled("סטאטוס");
                    }).WithPaging(15).Sortable()
            
            <!--.Filterable().WithMultipleFilters()-->
            
        </div>
 

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">סגור</span></button>
        <h4 class="modal-title" id="myModalLabel">תצוגה</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">סגור</button>
        <!--<button type="button" class="btn btn-primary">Save changes</button>-->
      </div>
    </div>
  </div>
</div>

    </div>
</div>
