@model Pro.Mvc.Models.UploadFileModel
@{
    Layout = "~/Views/Shared/_ViewMain.cshtml";
    Page.Title = "MembersUpload";
}
@section head {

    @Scripts.Render("~/bundles/jqx")
    @Scripts.Render("~/bundles/jqxgrid")
    <script type="text/javascript" src="~/jqwidgets/jqxdata.export.js"></script>
    <script type="text/javascript" src="~/Scripts/plagins/uploader/js/jquery.iframe-transport.js"></script>
    <script type="text/javascript" src="~/Scripts/plagins/uploader/js/jquery.fileupload.js"></script>
    <link type="text/css" href="~/Scripts/plagins/uploader/css/jquery.fileupload.css" rel="stylesheet" />
    <script src="~/Scripts/app/main/uploader.js"></script>
    <script type="text/javascript" src="~/Scripts/app/dateFormat.js"></script>
@*<script src="~/Scripts/app/app-uploads.js"></script>*@

    <style type="text/css">
        input {
            direction: rtl;
            text-align: right;
        }

        /*#divInputUpload {
            width: 100px;
            height: 25px;
            text-align: center;
            border: solid 1px #C7C7C7;
            background-color: #15C8D8;
        }*/

        .styledTable {
            direction: rtl;
            text-align: right;
        }

        .styledTableHeader {
            background-color: #0094ff;
            color: #fff;
            padding-left: 20px;
            text-align: right;
        }

        .styledTableHeader {
            background-color: #0094ff;
            color: #fff;
            text-align: right;
        }

        .styledRowKey {
            padding-left: 20px;
            text-align: right;
        }

        .styledRowValue {
            text-align: right;
        }
    </style>
}

@section scripts {
    <script type="text/javascript">

    $(document).ready(function () {
        JSON.useDateParser();
        var theme = 'Arctic';
        var app = new app_uploader('contacts');
        app.init();
    });

    </script>

}

<!--breadcrumb-->
<div class="breadcrumbs">
</div>
<div style="height:10px"></div>
<div class="global-view">
    <div class="container-box">

        <div id="hTitle" class="panel-page-header rtl">
            <span id="hTitle-text" style="margin:10px">קליטת מנויים מקובץ</span>
        </div>

        <div class="rtl">
            <a href="javascript:location.reload();" id="btnRefresh">חדש</a> | 
            <a href="~/_Doc/members.xls">תבנית לטעינה</a>
        </div>
        <input type="hidden" id="uploadKey" />
        <div style="height: 10px;">
        </div>
        <div id="tag-form" class="panel-area">

            <input id="uploadFile" type="hidden" />
            <div id="wizard">
                <ul>
                    <li><a href="#tab-1">1</a></li>
                    <li><a href="#tab-2">2</a></li>
                    <li><a href="#tab-3">3</a></li>
                    <li><a href="#tab-4">4</a></li>
                </ul>
                <div id="tab-1" class="ui-tabs-panel rtl">
                    <h3>טעינת קובץ</h3>
                    <div style="margin:10px">
                        <div id="divInputUpload">
                            <span class="btn-sm btn-success fileinput-button">
                                <i class="glyphicon glyphicon-plus"><span>בחירת קובץ</span></i>
                                <input id="fileupload" type="file" name="files[]" multiple>
                            </span><span>&nbsp;</span>
                        </div>
                        <br>
                        <br>
                        <div id="hint-0" class="hint"></div>
                        <!-- The global progress bar -->
                        <div id="progress" class="progress">
                            <div class="progress-bar progress-bar-success"></div>
                        </div>
                        <!-- The container for the uploaded files -->
                        <div id="files" class="files"></div>
                        <div id="loader">
                            <img src="~/Content/css/images/loading.gif" />
                        </div>
                        <p class="rtl"> ניתן לטעון קבצים בפורמט Csv </p>
                    </div>
                </div>

                <div id="tab-2" class="ui-tabs-panel">
                    <h3 class="rtl">רשימת מנויים שנקלטו</h3>
                    <input type="hidden" id="TotalCount" readonly />

                    <p id="divUploadResult" style="text-align:right;margin:20px"></p>

                    <p style="text-align:center">לקליטה נא ללחוץ על הבא</p>

                    <div class="grid-wrap rtl">
                        <div class="rtl">
                           תצוגה  לדוגמא:  <a id="members-upload-refresh" href="#">רענון</a>
                        </div>
                        <div id="jqxWidget">
                            <div id="jqxgrid" style="position:relative;z-index:1;"></div>
                            <div>תצוגה מוקדמת ל 10 רשומות ראשונות שנקלטו</div>
                        </div>
                    </div>

                </div>

                <div id="tab-3" class="ui-tabs-panel">
                    <h3 class="rtl">קליטת מנויים</h3>
                    <div id="orderContainer" style="float:right; direction:rtl">

                        <label class="headline">סיווג</label>
                        <br />
                        <div id="listCategory" name="listCategory"></div>
                        <br />
                        <span>האם לעדכן רשומות קיימות:</span>
                        <select id="updateExists" name="updateExists">
                            <option value="0" selected>לא לעדכון</option>
                            <option value="1">לעדכן</option>
                            <option value="2">לסנכרן</option>
                        </select>
                        @*<input type="checkbox" id="updateExists" name="updateExists" /> <span>האם לעדכן רשומות קיימות</span>*@
                        <br />
                        <br />
                        <input type="button" id="btnUpload" value="טעינת מנויים למאגר קבוע" />
                    </div>
                </div>

                <div id="tab-4" class="ui-tabs-panel">
                    <h3 class="rtl">טעינה וסנכרון נתונים</h3>

                    <div id="proc_iframe" style="float: right; direction:rtl">

                    </div>
                    <div style="margin:20px">
                        <div id="final" style="text-align:right; font-size:18px"></div>
                    </div>
                </div>
            </div>

        </div>
        <div class="panel-area" id="wizard-steps1">
            <a href="#" class="btn-tab prev-tab ">הקודם</a>
            <a href="#" class="btn-tab  next-tab">הבא</a>
            <a id="submit" href="javascript:location.reload();" class="btn-tab  end-tab">סיום</a>
            <input type="text" id="wizard-validation" class="label" readonly />
        </div>
    </div>
</div>

<!--end of content-wrapper-->
<script type="text/javascript">
    app_menu.activeLayoutMenu("liMain");
    app_menu.breadcrumbs("Main", "MemberUpload", 'en');
</script>

