@{
    Layout = "~/Views/Admin/_ViewAdmin.cshtml";
    Page.Title = "Building";
}
@section head {
}

<hgroup class="title">
    <h3 class="rightPan">הגדרות כלליות.</h3>
</hgroup>
<div class="clear"></div>

<div class="global-view">
    <div class="container">

        <form action="" method="post">
            <div>
                הגדרןת כלליות
            </div>
        </form>
    </div>
</div>
