@model Pro.Mvc.Models.ForgotPasswordModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Forgot Password Confirmation";
}

@section head {

    @Scripts.Render("~/bundles/jqx")
    <script type="text/javascript" src="~/jqwidgets/ex/mc-cmsWeb.js"></script>
}



<div class="global">
    <div class="center-box">
        <div class="container">
            <div dir="rtl" class="row">
                <div class="col-lg-11 col-md-12 col-sm-12 col-lg-offset-1">
                    <h2>שכחתי סיסמא</h2>

                    <h2>@ViewBag.Title.</h2>
                    <p>
                        נא לבדוק את תיבת הדאר הנכנס ולפעול בהתאם להוראות אתחול סיסמה.
                    </p>

                    <div id="cms_login_footer"></div>
                </div>
            </div>
        </div>
    </div>
</div>
