@{
    Layout = "~/Views/_View.cshtml";
    Page.Title = "Building";
}
@section head {
    <style type="text/css">
        table {
            direction: rtl;
        }

        td {
            padding-top: 0px;
            padding-bottom: 5px;
        }
    </style>
    <script>
        $(function () {
            $('#tab-query li:eq(0) a').tab('show');
        });
</script>
}

<hgroup class="title">
    <h3 class="rightPan">איתור לקוחות.</h3>
</hgroup>
<div class="clear"></div>
    

<div class="global-view">
    
    <div class="container-rtl">
                <div style="text-align:right; font-size:130%; font-weight:bold"><span>שם הסוכן : </span><span>סוכן</span></div>


             <div>
                <p>איתור לקוחות לפי מאפייני נכסים</p>
                <form action="CustomerQueryGrid" method="post">
                    <div>
                        <table>
                            <tr>
                                <th style="width: 35%"></th>
                                <th style="width: 30%"></th>
                                <th style="width: 35%"></th>
                            </tr>
                            <tr>
                                <td>שם האזור</td>
                                <td></td>
                                <td>(גודל השטח (מ"ר</td>
                            </tr>
                            <tr>
                                <td>
                                    <select name="area" dir="rtl" size="4" style="width: 100%" onchange="change_and_choose(a[this.options[this.selectedIndex].value],city,0)">
                                        <option value="0" selected>כל האזורים</option>
                                        <option value="1">מרכז</option>
                                        <option value="6">שרון</option>
                                        <option value="2">צפון</option>
                                        <option value="4">ירושלים</option>
                                        <option value="3">דרום</option>
                                        <option value="5">שפלה</option>

                                    </select>

                                </td>
                                <td></td>
                                <td>
                                    <select name="area-size" size="4" multiple dir="rtl" style="width: 100%">
                                        <option value="0" selected>-------כל השטחים------</option>
                                        <option value="1">1-200</option>
                                        <option value="2">200-500</option>
                                        <option value="3">500-1000</option>
                                        <option value="4">1000-2000</option>
                                        <option value="5">2000 ויותר</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3"></td>
                            </tr>
                            <tr>
                                <td>סוג העסקה</td>
                                <td></td>
                                <td>ייעוד הנכס</td>
                            </tr>
                            <tr>
                                <td>
                                    <select name="deal_type" size="4" dir="rtl" style="width: 100%">

                                        <option value="0" selected>------------הכל------------</option>
                                        <option value="2">מכירה</option>
                                        <option value="3">השכרה</option>
                                        <option value="4"></option>
                                    </select>
                                </td>
                                <td></td>
                                <td>
                                    <select name="purpose_type" size="4" dir="rtl" style="width: 100%">
                                        <option value="0" selected>-----------הכל------------</option>
                                        <option value="2">משרדים</option>
                                        <option value="3">תעשיה</option>
                                        <option value="4">מסחר</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3">שם הלקוח</td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <input type="text" name="customer_name" style="width:100%" /></td>
                            </tr>
                            <tr>
                                <td colspan="3"></td>
                            </tr>
                        </table>
                    </div>
                   
            <div>
                <input type="submit" value="הצג" class="btn-default btn2"/>
                <input type="reset" value="נקה"class="btn-default btn2" />
            </div>
            </form>
        </div>
  
</div>
    </div>




