<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="Netlog" type="Nistec.Logging.NetlogConfig, Nistec.Logger, Version=4.0.2.0, Culture=neutral, PublicKeyToken=734a739868a76423" requirePermission="false"/>
    <section name="EntitySettings" type="Nistec.Data.Entities.Config.EntityConfig, Nistec.Data, Version=4.0.2.0, Culture=neutral, PublicKeyToken=734a739868a76423" requirePermission="false"/>
  </configSections>


  <Netlog>
    <NetlogSettings>
      <add key="LogFilename" value="C:\Dev\Logs\console.log"/>
      <add key="LogLevel" value="Debug|Info|Warn|Error|Trace"/>
      <add key="LogMode" value="File|Console"/>
    </NetlogSettings>
  </Netlog>

  <EntitySettings>
    <Entities>
      <Entity Name="Authorizer" MappingName="websp_UserAuthenticate" ConnectionKey="cnn_natam" Mode="Config" SourceType="Procedure" EntityKey="UerId" LangResources=""/>
      <Entity Name="UserProfile" MappingName="web_UserProfile" ConnectionKey="Default" Mode="Config" SourceType="Table" EntityKey="UerId" LangResources=""/>
      <Entity Name="UserMessage" MappingName="'web_UserMessage" ConnectionKey="Default" Mode="Config" SourceType="Table" EntityKey="MessageType" LangResources=""/>
      <Entity Name="EmailProvider" MappingName="web_EmailProvider" ConnectionKey="Default" Mode="Config" SourceType="Table" EntityKey="Provider" LangResources=""/>
      <Entity Name="UserAuth" MappingName="sp_User_Auth" ConnectionKey="Default" Mode="Config" SourceType="Procedure" EntityKey="UerId" LangResources=""/>
    </Entities>
  </EntitySettings>
 
 
  <connectionStrings configSource="connections.config"/>
  
  <appSettings file="C:\Dev\Domains\Co\References\Config\settings.config">
    <add key="baseUrl" value="http://localhost"/>
    <add key="WebCacheEnable" value="true"/>
    <add key="WebCacheTimeout" value="120"/>
    <add key="WebCacheProtocol" value="tcp"/>
    <add key="webpages:Version" value="2.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="PreserveLoginUrl" value="true"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <!--
    PaymentBroker.Run
    PaymentBroker.Auto
    -->
    
    <add key="SchedulerInterval" value="6000"/>
    <add key="SchedulerMaxConnection" value="30"/>
    <add key="SchedulerMaxThread" value="5"/>
    <add key="ActionType" value="PaymentBroker.Run"/>
  </appSettings>
 

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
