@{
    Layout = "~/Views/Shared/_View.cshtml";
    Page.Title = "Main";
    string entity = Request["entity"];
    //string TagPropId = ViewBag.TagPropId;
    //string TagPropName = ViewBag.TagPropName;
    //string TagPropTitle = ViewBag.TagPropTitle;
    var userInfo = @Html.Raw(Json.Encode(ViewBag.UserInfo));
}
@section head {
    @Scripts.Render("~/bundles/jqx")
    @Scripts.Render("~/bundles/jqxgrid")
    @*<script type="text/javascript" src="~/Scripts/app/model/generic/_baseEntity-def.js"></script>*@
    <script type="text/javascript" src="~/Scripts/app/model/generic/task-entity-def.js"></script>
    <script type="text/javascript" src="~/Scripts/app/app-jqx-grid-1.0.js"></script>
    <style type="text/css">
        .input {
            direction: rtl;
            text-align: right;
            height: 24px;
        }
    </style>
}
@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            var theme = 'Arctic';
            JSON.useDateParser();
            var entity='@entity'
            var propTitle = getEntityTypeName(entity);
            var def = new app_task_entity_def(JSON.parse('@userInfo'), entity, propTitle);


            $("#EntityEnumType").on('change', function (event) {

                var entityType = this.value;
                var tagPropTitle = this.options[this.selectedIndex].text

                if (def == null || def === undefined) {
                    def = new app_task_entity_def(JSON.parse('@userInfo'), entityType, tagPropTitle);
                }
                else {
                    def.loadEntity(entityType, tagPropTitle);
                    def.reloadData(def);
                }
            });


            @*app_jqx_list.entityEnumComboAdapter();
            $("#EntityEnumType").on('change', function () {
                var item = $("#EntityEnumType").jqxDropDownList('getSelectedItem');
                var entityType = item.value;
                var tagPropTitle = item.label;
                if (def == null || def === undefined) {
                    def = new app_entity_def(JSON.parse('@userInfo'), entityType, tagPropTitle);
                }
                else {
                    def.loadEntity(entityType, tagPropTitle);
                    def.reloadData(def);
                }
            });
            $("#EntityEnumType").jqxDropDownList({ selectedIndex: 0 });*@
        });

    </script>
}

<div class="breadcrumbs">
</div>
<div class="global-view">
    <div class="container-box">

        <div class="grid-wrap rtl panel-area">
            <h3 class="rtl panel-area-title">הגדרות כלליות-<span id="tagPropTitle">---</span></h3>
            @*<select id="EntityEnumType">
                    <option value="task_type">סוג משימה</option>
                    <option value="ticket_type">סוג כרטיס</option>
                    <option value="topic_type">סוג נושא</option>
                    <option value="doc_type">סוג מסמך</option>
                </select>*@
            <div id="jqxWidget" style="max-width:500px">
                <div id="jqxgrid" style="position: relative; z-index: 1;"></div>
                <div class="note-edit">לעריכת שורה: לחיצה כפולה על השורה הרצויה</div>

                <div style="margin-top: 30px;">
                    <div id="cellbegineditevent"></div>
                    <div style="margin-top: 10px;" id="cellendeditevent"></div>
                    <div id="popupWindow" style="display:none">

                        <div>עריכה</div>
                        <div style="overflow: hidden; direction: rtl">
                            <input type="hidden" id="insertFlag" value="0" />
                            <form id="form" action="./">
                                <table style="border-spacing: 10px; border-collapse: separate; direction: rtl">
                                    <tr id="trcode">
                                        <td id="tagPropId">קוד :</td>
                                        <td>
                                            <input id="PropId" class="input" type="text" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td id="tagPropName">שם :</td>
                                        <td>
                                            <input id="PropName" class="input" type="text" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td style="padding-top: 10px;">
                                            <input style="margin-right: 5px;" type="button" id="Save" value="עדכון" />
                                            <input id="Cancel" type="button" value="ביטול" />
                                        </td>
                                    </tr>
                                </table>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<footer></footer>
<script type="text/javascript">
    app_menu.activeLayoutMenu("liSystem");
    app_menu.breadcrumbs("System", "Tasks", 'en');
    app_menu.footer("task");
</script>
