@model Pro.Mvc.Models.EditTaskModel
@{
    //ViewBag.Title = "System";
    Layout = "~/Views/Shared/_View.cshtml";
    var userInfo = @Html.Raw(Json.Encode(ViewBag.UserInfo));
    var dataModel = @Html.Raw(Json.Encode(Model));
}

@section head {

    @Scripts.Render("~/bundles/jqx")
    @Scripts.Render("~/bundles/jqxgrid")
<script type="text/javascript" src="~/jqwidgets/jqxdate.js"></script>
<script type="text/javascript" src="~/jqwidgets/jqxscheduler.js"></script>
<script type="text/javascript" src="~/jqwidgets/jqxscheduler.api.js"></script>
<script type="text/javascript" src="~/jqwidgets/jqxmenu.js"></script>
<script type="text/javascript" src="~/jqwidgets/jqxcalendar.js"></script>
<script type="text/javascript" src="~/jqwidgets/jqxradiobutton.js"></script>

@*<script type="text/javascript" src="~/jqwidgets/jqxtooltip.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxdatetimeinput.js"></script>
    
    <script type="text/javascript" src="~/jqwidgets/jqxwindow.js"></script>
        <script type="text/javascript" src="~/jqwidgets/jqxcheckbox.js"></script>
        <script type="text/javascript" src="~/jqwidgets/jqxlistbox.js"></script>
        <script type="text/javascript" src="~/jqwidgets/jqxdropdownlist.js"></script>
        <script type="text/javascript" src="~/jqwidgets/jqxnumberinput.js"></script>
        
        <script type="text/javascript" src="~/jqwidgets/jqxinput.js"></script>
        <script type="text/javascript" src="~/jqwidgets/globalization/globalize.js"></script>*@
<script type="text/javascript" src="~/jqwidgets/globalization/globalize.culture.he-IL.js"></script>

    <script type="text/javascript" src="~/jqwidgets/jqxdata.export.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxeditor.js"></script>
    @*<script type="text/javascript" src="~/Scripts/app/app-jqx-grid-1.0.js"></script>
    <script type="text/javascript" src="~/Scripts/app/system/task-def.js"></script>*@
    <script type="text/javascript" src="~/Scripts/app/app-wizard.js"></script>
    <link rel="stylesheet" href="~/Scripts/app/app-form.css" type="text/css" />
    

    <style type="text/css">
        input {
        direction: rtl;
            text-align: right;
        }
    </style>

}


@section scripts {

    <script type="text/javascript">

    var wizard;
    var task_def;

    $(document).ready(function () {
        JSON.useDateParser();
        var theme = 'Arctic';
        @*var uinfo = JSON.parse('@userInfo');

        var taskid = @rcdid
        wizard = new app_wiztabs();
        wizard.displayStep(1);

        task_def=app_task.init(JSON.parse('@dataModel'), uinfo, 'T');

        $('#reset').on('click', function () {
            location.reload();
        });

        $('#fcClear').on('click', function (e) {
            //app_messenger.Post("הודעה");
            $('#fcForm')[0].reset();
            $('#fcForm').jqxValidator('hide');
        });

        $('#fcCancel').on('click', function (e) {
            task_def.doCancel();
        });
        $('#fcSubmit').on('click', function (e) {
            task_def.doSubmit();
        });

        $('#task-item-update').click(function () {
            var iframe = wizard.getIframe();
            if (iframe && iframe.triggerSubmit) {
                iframe.triggerSubmit();
            }
        });
        $('#task-item-cancel').click(function () {
            wizard.wizHome();
        });*@


        var appointments = new Array();
        var appointment1 = {
            id: "id1",
            description: "",
            location: "",
            subject: "פגישה בנושא שיווק אוטומטי",
            status: "tentative",
            calendar: "טל",
            start: new Date(2016, 10, 23, 9, 0, 0),
            end: new Date(2016, 10, 23, 11, 0, 0)
        }
        var appointment2 = {
            id: "id2",
            description: "",
            location: "",
            subject: "נתם סיום אפיון",
            calendar: "שני",
            status: "tentative",
            start: new Date(2016, 10, 24, 10, 0, 0),
            end: new Date(2016, 10, 24, 15, 0, 0)
        }

        var appointment3 = {
            id: "id3",
            description: "",
            location: "",
            subject: "תמיכה למוסך בני הדייגa",
            status: "tentative",
            calendar: "יורי",
            start: new Date(2016, 10, 27, 11, 0, 0),
            end: new Date(2016, 10, 27, 13, 0, 0)
        }

        var appointment4 = {
            id: "id4",
            description: "",
            location: "",
            subject: "פגישת הנהלה",
            status: "free",
            calendar: "טל",
            start: new Date(2016, 10, 23, 16, 0, 0),
            end: new Date(2016, 10, 23, 18, 0, 0)
        }
        var appointment5 = {
            id: "id5",
            description: "",
            location: "",
            subject: "בדיקת נושא התזמונים",
            status: "outOfOffice",
            calendar: "יורי",
            start: new Date(2016, 10, 25, 15, 0, 0),
            end: new Date(2016, 10, 25, 17, 0, 0)
        }
        var appointment6 = {
            id: "id6",
            description: "",
            location: "",
            subject: "סיום פיתוח אתר",
            status: "busy",
            calendar: "שני",
            start: new Date(2016, 10, 26, 14, 0, 0),
            end: new Date(2016, 10, 26, 16, 0, 0)
        }
        var appointment7 = {
            id: "id6",
            description: "",
            location: "",
            subject: "שימור מוסך השומר",
            status: "busy",
            calendar: "אורי",
            start: new Date(2016, 10, 26, 14, 0, 0),
            end: new Date(2016, 10, 26, 16, 0, 0)
        }
        var appointment8 = {
            id: "id6",
            description: "",
            location: "",
            subject: "תוכנית שיווק מרפאות",
            status: "busy",
            calendar: "אורי",
            start: new Date(2016, 10, 26, 14, 0, 0),
            end: new Date(2016, 10, 26, 16, 0, 0)
        }
        appointments.push(appointment1);
        appointments.push(appointment2);
        appointments.push(appointment3);
        appointments.push(appointment4);
        appointments.push(appointment5);
        appointments.push(appointment6);
        appointments.push(appointment7);
        appointments.push(appointment8);
        // prepare the data
        var source =
        {
            dataType: "array",
            dataFields: [
                { name: 'id', type: 'string' },
                { name: 'description', type: 'string' },
                { name: 'location', type: 'string' },
                { name: 'subject', type: 'string' },
                { name: 'status', type: 'string' },
                { name: 'calendar', type: 'string' },
                { name: 'start', type: 'date' },
                { name: 'end', type: 'date' }
            ],
            id: 'id',
            localData: appointments
        };
        var adapter = new $.jqx.dataAdapter(source);
        $("#scheduler").jqxScheduler({
            date: new $.jqx.date(2016, 11, 23),
            width: '100%',
            height: 600,
            rtl:true,
            source: adapter,
            view: 1,
            showLegend: true,
            ready: function () {
                $("#scheduler").jqxScheduler('ensureAppointmentVisible', 'id1');
            },
            localization: {
                // separator of parts of a date (e.g. '/' in 11/05/1955)
                '/': "/",
                // separator of parts of a time (e.g. ':' in 05:44 PM)
                ':': ":",
                // the first day of the week (0 = Sunday, 1 = Monday, etc)
                firstDay: 0,
                days: {
                    // full day names
                    names: ["ראשון", "שני", "שלישי", "רביעי", "חמישי", "שישי", "שבת"],
                    // abbreviated day names
                    namesAbbr: ["ראשון", "שני", "שלישי", "רביעי", "חמישי", "שישי", "שבת"],
                    // shortest day names
                    namesShort: ["א", "ב", "ג", "ד", "ה", "ו", "ש"]
                },
                months: {
                    // full month names (13 months for lunar calendards -- 13th month should be "" if not lunar)
                    names: ["ינואר", "פברואר", "מרץ", "אפריל", "מאי", "יוני", "יולי", "אוגוסט", "ספטמבר", "אוקטובר", "נובמבר", "דצמבר", ""],
                    // abbreviated month names
                    namesAbbr: ["ינו", "פבר", "מרס", "אפר", "מאי", "יונ", "יול", "אוג", "ספט", "אוק", "נוב", "דצמ", ""]
                },
                // AM and PM designators in one of these forms:
                // The usual view, and the upper and lower case versions
                //      [standard,lowercase,uppercase]
                // The culture does not use AM or PM (likely all standard date formats use 24 hour time)
                //      null
                AM: ["AM", "am", "AM"],
                PM: ["PM", "pm", "PM"],
                eras: [
                // eras in reverse chronological order.
                // name: the name of the era in this culture (e.g. A.D., C.E.)
                // start: when the era starts in ticks (gregorian, gmt), null if it is the earliest supported era.
                // offset: offset in years from gregorian calendar
                { "name": "A.D.", "start": null, "offset": 0 }
                ],
                twoDigitYearMax: 2029,
                patterns: {
                    // short date pattern
                    d: "dd/MM/yyyy",
                    // long date pattern
                    D: "dddd, MMMM dd, yyyy",
                    // short time pattern
                    t: "h:mm tt",
                    // long time pattern
                    T: "h:mm:ss tt",
                    // long date, short time pattern
                    f: "dddd, MMMM dd, yyyy h:mm tt",
                    // long date, long time pattern
                    F: "dddd, MMMM dd, yyyy h:mm:ss tt",
                    // month/day pattern
                    M: "MMMM dd",
                    // month/year pattern
                    Y: "yyyy MMMM",
                    // S is a sortable format that does not vary by culture
                    S: "yyyy\u0027-\u0027MM\u0027-\u0027dd\u0027T\u0027HH\u0027:\u0027mm\u0027:\u0027ss",
                    // formatting of dates in MySQL DataBases
                    ISO: "yyyy-MM-dd hh:mm:ss",
                    ISO2: "yyyy-MM-dd HH:mm:ss",
                    d1: "dd.MM.yyyy",
                    d2: "dd-MM-yyyy",
                    d3: "dd-MMMM-yyyy",
                    d4: "dd-MM-yy",
                    d5: "H:mm",
                    d6: "HH:mm",
                    d7: "HH:mm tt",
                    d8: "dd/MMMM/yyyy",
                    d9: "MMMM-dd",
                    d10: "MM-dd",
                    d11: "MM-dd-yyyy"
                },
                agendaViewString: "Agenda",
                agendaAllDayString: "all day",
                agendaDateColumn: "Date",
                agendaTimeColumn: "Time",
                agendaAppointmentColumn: "Appointment",
                backString: "אחורה",
                forwardString: "קדימה",
                toolBarPreviousButtonString: "הקודם",
                toolBarNextButtonString: "הבא",
                emptyDataString: "לא נמצאו נתונים",
                loadString: "Loading...",
                clearString: "Clear",
                todayString: "היום",
                dayViewString: "יום",
                weekViewString: "שבוע",
                monthViewString: "חודש",
                timelineDayViewString: "Timeline Day",
                timelineWeekViewString: "Timeline Week",
                timelineMonthViewString: "Timeline Month",
                loadingErrorMessage: "The data is still loading and you cannot set a property or call a method. You can do that once the data binding is completed. jqxScheduler raises the 'bindingComplete' event when the binding is completed.",
                editRecurringAppointmentDialogTitleString: "Edit Recurring Appointment",
                editRecurringAppointmentDialogContentString: "Do you want to edit only this occurrence or the series?",
                editRecurringAppointmentDialogOccurrenceString: "Edit Occurrence",
                editRecurringAppointmentDialogSeriesString: "Edit The Series",
                editDialogTitleString: "עריכת פגישה",
                editDialogCreateTitleString: "קביעת פגישה",
                contextMenuEditAppointmentString: "עריכת פגישה",
                contextMenuCreateAppointmentString: "קביעת פגישה",
                editDialogSubjectString: "נושא",
                editDialogLocationString: "מיקום",
                editDialogFromString: "מ",
                editDialogToString: "עד",
                editDialogAllDayString: "יום שלם",
                editDialogExceptionsString: "Exceptions",
                editDialogResetExceptionsString: "Reset on Save",
                editDialogDescriptionString: "תאור",
                editDialogResourceIdString: "מאת",
                editDialogStatusString: "סטאטוס",
                editDialogColorString: "צבע",
                editDialogColorPlaceHolderString: "Select Color",
                editDialogTimeZoneString: "אזור זמן",
                editDialogSelectTimeZoneString: "בחירת אזור זמן",
                editDialogSaveString: "שמירה",
                editDialogDeleteString: "מחיקה",
                editDialogCancelString: "ביטול",
                editDialogRepeatString: "מחזורי",
                editDialogRepeatEveryString: "חזור בכל",
                editDialogRepeatEveryWeekString: "שבוע(ות)",
                editDialogRepeatEveryYearString: "שנה(ים)",
                editDialogRepeatEveryDayString: "יום(ים)",
                editDialogRepeatNeverString: "אף פעם",
                editDialogRepeatDailyString: "יומי",
                editDialogRepeatWeeklyString: "שבועי",
                editDialogRepeatMonthlyString: "חודשי",
                editDialogRepeatYearlyString: "שנתי",
                editDialogRepeatEveryMonthString: "חודש(ים)",
                editDialogRepeatEveryMonthDayString: "Day",
                editDialogRepeatFirstString: "first",
                editDialogRepeatSecondString: "second",
                editDialogRepeatThirdString: "third",
                editDialogRepeatFourthString: "fourth",
                editDialogRepeatLastString: "last",
                editDialogRepeatEndString: "End",
                editDialogRepeatAfterString: "After",
                editDialogRepeatOnString: "On",
                editDialogRepeatOfString: "of",
                editDialogRepeatOccurrencesString: "occurrence(s)",
                editDialogRepeatSaveString: "Save Occurrence",
                editDialogRepeatSaveSeriesString: "Save Series",
                editDialogRepeatDeleteString: "Delete Occurrence",
                editDialogRepeatDeleteSeriesString: "Delete Series",
                editDialogStatuses:
                {
                    free: "Free",
                    tentative: "Tentative",
                    busy: "Busy",
                    outOfOffice: "Out of Office"
                },
                loadingErrorMessage: "The data is still loading and you cannot set a property or call a method. You can do that once the data binding is completed. jqxScheduler raises the 'bindingComplete' event when the binding is completed.",	
            },
            resources:
            {
                colorScheme: "scheme05",
                dataField: "calendar",
                source:  new $.jqx.dataAdapter(source)
            },
            appointmentDataFields:
            {
                from: "start",
                to: "end",
                id: "id",
                status: "status",
                description: "description",
                location: "place",
                subject: "subject",
                resourceId: "calendar"
            },
            views:
            [
                'dayView',
                'weekView',
                'monthView'
            ]
        });
    });

</script>

}

<div class="breadcrumbs">
</div>


<div class="global-view">
    <div id="wiz-container" class="container">

        <div id="wiz-1" class="wiz-tab active">
            <h3 id="hTitle" class="rtl">יומן</h3>
            <div id="jqxWidget">
                <div id="scheduler"></div>
             </div>   
        </div>
        <div id="wiz-2" class="wiz-tab">
            <h3 id="wiz-2-title" class="rtl">
                עריכת משימה
            </h3>
            <div id="divPartial2" class="wiz-partial"></div>
            <div class="rtl">
                <a id="task-item-update" class="btn-default btn7 w-60" href="#">עדכון</a>
                <a id="task-item-cancel" class="btn-default btn7 w-60" href="#">ביטול</a>
            </div>
        </div>
        <div id="wiz-3" class="wiz-tab">
            <div class="rtl">
                <a class="btn-default btn7 w-60" href="javascript:wizard.displayStep(1);">חזרה</a>
            </div>
            <div id="divPartial3"></div>
        </div>
        
    </div>
</div>
<!--end of content-wrapper-->


<script type="text/javascript">
    app_menu.activeLayoutMenu("liSystem");
    app_menu.breadcrumbs("System", "Tasks", 'en');
</script>



