@{
   
    //ViewBag.Title = "System";
    Layout = "~/Views/Shared/_View.cshtml";
    int rcdid = Nistec.Types.ToInt(Request["id"]);
    var userInfo = @Html.Raw(Json.Encode(ViewBag.UserInfo));

}

@section head {

    @Scripts.Render("~/bundles/jqx")
    <script src="~/jqwidgets/jqxkanban.nis.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxsortable.js"></script>
    <script type="text/javascript" src="~/Scripts/app/system/task-user.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxbuttongroup.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxradiobutton.js"></script>

    <style type="text/css">

        .newsTextContainer {
            /*padding: 0em 5.3em;*/
            padding-bottom: 10px;
            color: #888D94 !important;
            font-size: 90% !important;
            margin-top: 5px;
        }

        .toHide {
            color: #888D94 !important;
            font-size: 83% !important;
            font-weight: normal !important;
            /*margin-left: 5.1em;*/
            margin-top: 4px;
            padding-bottom: 5px;
        }

        .expanderContainer {
            margin-bottom: 5px;
            border-radius: 9px;
        }
        /*.switch-group {
            direction: rtl;
            text-align: right;
            height:26px;
        }
            */
        .switch-item {
            /*direction: rtl;
            padding: 4px 12px;*/
            width:60px;
        }
        i {padding-left:4px;
        }
        .jqx-grid-cell {
            border-left: none;
            border-right: none;
        }

        /*.jqx-kanban-item-color-status {
            width: 100%;
            height: 25px;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
            position: relative;
            margin-top: 0px;
            top: 0px;
        }
        .jqx-kanban-item {
            padding-top: 0px;
        }


        .jqx-kanban-item-text {
            padding-top: 6px;
        }


        .jqx-kanban-item-avatar {
            top: 9px;
        }


        .jqx-kanban-template-icon {
            position: absolute;
            right: 3px;
            top: 12px;
        }*/
    </style>

}


@section scripts {

    <script type="text/javascript">

   
    $(document).ready(function () {
        JSON.useDateParser();
        var theme = 'Arctic';
        var uinfo = JSON.parse('@userInfo');
       
        app_tasks_active.load(uinfo);
        
        $("#Status-group").jqxButtonGroup({ mode: 'radio', rtl: true });
        $("#Status-group").on('buttonclick', function (event) {
            var val = $(event.args.button).data('val');
            if (val == '0')
                app.redirectTo('/System/TaskNew');
            else if (val == '1')
                app.redirectTo('/System/ReminderNew');
            else if (val == '2')
                app.redirectTo('/System/TicketNew');
            else if (val == '100')
                app.redirectTo('/System/Tasks');
            else
                app_tasks_active.reload(val);
            //$("#StatusFilter").val(val);
            //slf.statusFilter = val;
            //dataAdapter.dataBind();
            //app_tasks_active.refresh();
        });
    });

</script>
}

<div class="breadcrumbs">
</div>

<div class="global-view">

    <div id="wiz-container">

        <div class="rtl" style="height:44px">
                <div>המשימות שלי</div>
                <div id='Status-group' class="switch-group rtl">
                    <div class="switch-item" id="Status-New" data-val="0" title="משימה חדשה">משימה<i class="fa fa-plus-square-o"></i></div>
                    <div class="switch-item" id="Status-Reminder" data-val="1" title="תזכורת חדשה">תזכורת<i class="fa fa-calendar-o"></i></div>
                    <div class="switch-item" id="Status-Ticket" data-val="2" title="פתיחת סוגיה">סוגיה<i class="fa fa-edit"></i></div>
                    <div class="switch-item" id="Task-Report" data-val="100" title="דוח משימות">דוח<i class="fa fa-newspaper-o"></i></div>
                </div>
            </div>
            
        <div id="jqxWidget">
                <div id="fcBody" style="margin: 0;"><!--max-height:700px;overflow-y:auto;overflow-x:hidden-->
                    <input type="hidden" id="AccountId" name="AccountId" value="" />
                    <input type="hidden" id="StatusFilter" value="" />
                    <div id="kanban" style="position:relative;z-index:1;"></div>
                </div>
            </div>

    </div>
</div>
<!--end of content-wrapper-->
 
    <script type="text/javascript">
        app_menu.activeLayoutMenu("liSystem");
        app_menu.breadcrumbs("System", "Tasks", 'en');

        

    </script>



