/* -------------------------------- 

Primary style
background-color:#15C8D8; myt-blue
background-color:#4cddf3; myt-light blue 
old-background-color:#1784c7; blue
color: #ff6a00; orange
color dark gray-blue=#24343F
c-------------------------------- */

.jcxtab-panel{
    padding:0;margin:0;
    background-color:#fff;
}
.jcxtab-entry{
    margin:0 5px;
}
.jcxtab-entry-rtl{
    margin-top:0;
    margin-right:5px;
}

.jcx-tabs .jcx-tabs-nav {
    margin: 0;
    padding: 0;
    padding-bottom:5px;
}

.jcx-tabs .jcx-tabs-tab {
    display: inline-block;
    margin: 0;
    list-style: none;
}

.jcx-tabs .jcx-tabs-panel {
    /*padding: 15px;*/
    display: none;
}

.jcx-tabs .jcx-tabs-accordion-title {
    display: none;
}

.jcx-tabs .jcx-tabs-panel.jcx-tabs-state-active {
    display: block;
}

/* Tabs container */
.jcx-tabs {
	position: relative;

	/*background-color: #15C8D8;*/

	/*border-top: 1px solid #15C8D8;
	border-right: 1px solid #15C8D8;
	border-left: 1px solid #15C8D8;
	border-bottom: 2px solid #15C8D8;
	border-radius: 4px;*/

}

/* Tab element */
.jcx-tabs .jcx-tabs-nav .jcx-tabs-tab {
	position: relative;
	/*background-color: #15C8D8;*/
}

/* Tab anchor */
.jcx-tabs .jcx-tabs-nav .jcx-tabs-anchor {
	display: inline-block;
	padding: 7px 12px;

	text-decoration: none;
	/*text-shadow: 0 1px rgba(0, 0, 0, 0.4);*/
	font-size: 12px;
	font-weight: bold;
	color: #5AB1D0;
}

/* Disabled tab */
.jcx-tabs .jcx-tabs-nav .jcx-tabs-state-disabled {
	opacity: 0.5;
}

/* Active state tab anchor */
.jcx-tabs .jcx-tabs-nav .jcx-tabs-state-active .jcx-tabs-anchor {
	color: #626271;
	text-shadow: none;
	background-color: white;

    /*border: 1px solid #5AB1D0 !important;*/
	border-bottom: none;
	/*margin-bottom: -1px !important;*/
	/*padding: 12px 14px 14px 14px !important;*/
	border-top: 4px solid #5AB1D0 !important;
	border-bottom: 0px #fff solid !important;

	/*border-top-right-radius: 4px;
	border-top-left-radius: 4px;*/
}

/* Tab panel */
.jcx-tabs .jcx-tabs-panel {
	background-color: white;
    
	/*border-bottom: 4px solid white;

	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;*/

}

/* Accordion anchor */
.jcx-tabs .jcx-tabs-accordion-title .jcx-tabs-anchor {
	display: block;
	padding: 8px;
    margin-bottom:2px;
	/*background-color: #15C8D8;*/
	/*color: #fff;*/
    color: #5AB1D0;
	font-weight: bold;
	text-decoration: none;
	/*text-shadow: 0 1px rgba(0, 0, 0, 0.4);*/
	font-size: 12px;

    /*border: 1px solid #626271;*/
    background-color:#f3f6fb;
	/*border-top-right-radius: 4px;
	border-top-left-radius: 4px;
    border-bottom:solid 1px #fff;*/
}

/* Active accordion anchor */
.jcx-tabs .jcx-tabs-accordion-title.jcx-tabs-state-active .jcx-tabs-anchor {
	background-color: #fff;
	/*color: #15C8D8;*/
    color: #626271;
	text-shadow: none;

	/*border: 1px solid #15C8D8;*/
    border-bottom: 1px solid #5AB1D0 !important;
	border-top: 4px solid #5AB1D0 !important;
}

/* Disabled accordion button */
.jcx-tabs .jcx-tabs-accordion-title.jcx-tabs-state-disabled {
	opacity: 0.5;
}


/* Accordion responsive breakpoint */
@media only screen and (max-width: 768px) {
    .jcx-tabs .jcx-tabs-nav {
        display: none;
    }

    .jcx-tabs .jcx-tabs-accordion-title {
        display: block;
    }
}