 
        <div id="stuck_container">
            <div class="menuBox">
                <div id="cssmenu_wrapper" class="container">
                    <h1 class="navbar-brand navbar-brand_"><a href="~/Home/index">
                        <img src="~/images/logo-small.png" alt=""></a></h1>
                    <div id="cssmenu">
                        <ul>
                            <li class="active"><a href="~/Home/index" title="ראשי">ראשי</a></li>
                            <li class="has-sub"><a href="#" title="נכסים">
                                <span>נכסים</span></a>
                                <ul>
                                    <li><a href="~/Building/BuildingGrid" title="איתור נכסים">
                                        <i class="fa fa-angle-double-left" style="font-size:20px"></i> איתור נכסים</a>
                                    </li>
                                    <li><a href="~/Building/BuildingDef" title="נכס חדש">
                                        <i class="fa fa-angle-double-left" style="font-size:20px"></i> נכס חדש</a></li>
                                    <li><a href="~/Building/Investment" title="השקעות">
                                        <i class="fa fa-angle-double-left" style="font-size:20px"></i> השקעות</a></li>
                                    <li><a href="~/Building/BuildingFloor" title="הגדרת קומה">
                                        <i class="fa fa-angle-double-left" style="font-size:20px"></i> הגדרת קומה</a></li>
                                    <li><a href="~/Building/BuildingWizard" title="אשף בניית בניין">
                                        <i class="fa fa-angle-double-left" style="font-size:20px"></i> אשף בניית בניין</a></li>
                                    <li><a href="~/Properties/ProprtyTypes" title="סוגי נכסים"><span>
                                        <i class="fa fa-angle-double-left" style="font-size:20px"></i> סוגי נכסים</span></a>
                                    </li>
                                    <li><a href="~/Properties/RegionTypes" title="אזורים">
                                        <i class="fa fa-angle-double-left" style="font-size:20px"></i> אזורים</a></li>
                                    <li><a href="~/Properties/DealTypes" title="סוגי עסקאות">
                                        <i class="fa fa-angle-double-left" style="font-size:20px"></i> סוגי עסקאות</a></li>
                                </ul>
                            </li>
                            <li class="has-sub"><a href="#" title="דוחות">
                                <span>דוחות</span></a>
                                <ul>
                                    <li><a href="~/Reports/ReportDlg" title="דוח נכסים">
                                        <i class="fa fa-angle-double-left" style="font-size:20px"></i> דוח נכסים</a></li>
                                    <li><a href="~/Reports/BuildingDlg" title="דוח לבניין">
                                        <i class="fa fa-angle-double-left" style="font-size:20px"></i> דוח לבניין</a></li>
                                    <li><a href="#" title="דוח פעילות">
                                        <i class="fa fa-angle-double-left" style="font-size:20px"></i> דוח פעילויות</a></li>
                                    <li><a href="~/Reports/StatisticDlg" title="סטטיסטיקה"><span>
                                        <i class="fa fa-angle-double-left" style="font-size:20px"></i> דוחות סטטיסטיים</span></a>
                                    </li>
                                </ul>
                            </li>
                            <li class="has-sub"><a href="#" title="פרסום">
                                <span>פרסום</span></a>
                                <ul>
                                    <li><a href="~/Ads/Advertise" title="פרסום חדש">
                                        <i class="fa fa-angle-double-left" style="font-size:20px"></i> פרסום חדש</a></li>
                                    <li><a href="~/Ads/AdsList" title="פרסום פעיל">
                                        <i class="fa fa-angle-double-left" style="font-size:20px"></i> פרסום פעיל</a></li>
                                    <li><a href="~/Ads/AdsConfirmList" title="ממתינים לאישור">
                                        <i class="fa fa-angle-double-left" style="font-size:20px"></i> ממתינים לאישור</a></li>
                                    <li><a href="~/Ads/AdsGrid" title="דוח פרסום">
                                        <i class="fa fa-angle-double-left" style="font-size:20px"></i> דוח פרסום</a></li>
                                    <li><a href="~/Grid" title="מדדים"><span>
                                        <i class="fa fa-angle-double-left" style="font-size:20px"></i> מדדים</span></a>
                                    </li>
                                </ul>
                            </li>
                            <li class="has-sub"><a href="#" title="קשרי לקוחות">
                                <span>קשרי לקוחות</span></a>
                                <ul>
                                    <li><a href="~/Main/Customers" title="חשבונות">
                                        <i class="fa fa-angle-double-left" style="font-size:20px"></i> חשבונות</a></li>
                                    <li><a href="~/Main/CustomersGrid" title="איתור חשבון">
                                        <i class="fa fa-angle-double-left" style="font-size:20px"></i> איתור חשבון</a></li>
                                    <li><a href="~/Main/ContactsGrid" title="אנשי קשר">
                                        <i class="fa fa-angle-double-left" style="font-size:20px"></i> אנשי קשר</a></li>
                                    <li><a href="~/Main/Contacts" title="הוספת אנשי קשר"><span>
                                        <i class="fa fa-angle-double-left" style="font-size:20px"></i> הוספת אנשי קשר</span></a>
                                    </li>
                                    <li><a href="~/Main/Leads" title="קשרי לקוחות"><span>
                                        <i class="fa fa-angle-double-left" style="font-size:20px"></i> קשרי לקוחות</span></a>
                                    </li>
                                    <li><a href="~/Main/LeadsFollow" title="מעקב"><span>
                                        <i class="fa fa-angle-double-left" style="font-size:20px"></i> מעקב</span></a>
                                    </li>
                                </ul>
                            </li>
                            <li class="has-sub"><a href="#" title="מנהל מערכת">
                                <span>מנהל מערכת</span></a>
                                <ul>
                                    <li><a href="~/Admin/User" title="משתמש חדש">
                                        <i class="fa fa-angle-double-left" style="font-size:20px"></i> משתמש חדש</a></li>
                                    <li><a href="~/Admin/UsersList" title="איתור משתמש">
                                        <i class="fa fa-angle-double-left" style="font-size:20px"></i> איתור משתמש</a></li>
                                    <li><a href="~/Admin/UserPerms" title="הרשאות">
                                        <i class="fa fa-angle-double-left" style="font-size:20px"></i> הרשאות</a></li>
                                    <li><a href="~/Admin/LogonGrid" title="דוח כניסות">
                                        <i class="fa fa-angle-double-left" style="font-size:20px"></i> דוח כניסות</a></li>
                                    <li><a href="~/Admin/SysProperties" title="הגדרות כלליות"><span>
                                        <i class="fa fa-angle-double-left" style="font-size:20px"></i> הגדרות כלליות</span></a>
                                    </li>
                                </ul>
                            </li>
                            <li class="last"><a href="#" title="ראשי">יציאה</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

