 
        <div id="stuck_container">
            <div class="menuBox">
                <div id="cssmenu_wrapper" class="container">
                    <h1 class="navbar-brand navbar-brand_"><a href="~/Home/index">
                        <img src="~/images/logo-small.png" alt=""></a></h1>
                    <div id="cssmenu">
                        <ul>
                            <li class="active"><a href="~/Home/index" title="ראשי">ראשי</a></li>
                            <li class="has-sub"><a href="#" title="נכסים">
                                <span>נכסים</span></a>
                                <ul>
                                    <li><a href="~/Building/BuildingGrid" title="איתור נכסים">
                                        <img src="~/Images/icons/item.png" alt="" />איתור נכסים</a>
                                    </li>
                                    <li><a href="~/Building/BuildingDef" title="נכס חדש">
                                        <img src="~/Images/icons/item.png" alt="" />נכס חדש</a></li>
                                    <li><a href="~/Building/Investment" title="השקעות">
                                        <img src="~/Images/icons/item.png" alt="" />השקעות</a></li>
                                    <li><a href="~/Building/BuildingFloor" title="הגדרת קומה">
                                        <img src="~/Images/icons/item.png" alt="" />הגדרת קומה</a></li>
                                    <li><a href="~/Building/BuildingWizard" title="אשף בניית בניין">
                                        <img src="~/Images/icons/item.png" alt="" />אשף בניית בניין</a></li>
                                    <li><a href="~/Properties/ProprtyTypes" title="סוגי נכסים"><span>
                                        <img src="~/Images/icons/item.png" alt="" />סוגי נכסים</span></a>
                                    </li>
                                    <li><a href="~/Properties/RegionTypes" title="אזורים">
                                        <img src="~/Images/icons/item.png" alt="" />אזורים</a></li>
                                    <li><a href="~/Properties/DealTypes" title="סוגי עסקאות">
                                        <img src="~/Images/icons/item.png" alt="" />סוגי עסקאות</a></li>
                                </ul>
                            </li>
                            <li class="has-sub"><a href="#" title="דוחות">
                                <span>דוחות</span></a>
                                <ul>
                                    <li><a href="~/Reports/ReportDlg" title="דוח נכסים">
                                        <img src="~/Images/icons/item.png" alt="" />דוח נכסים</a></li>
                                    <li><a href="~/Reports/BuildingDlg" title="דוח לבניין">
                                        <img src="~/Images/icons/item.png" alt="" />דוח לבניין</a></li>
                                    <li><a href="#" title="דוח פעילות">
                                        <img src="~/Images/icons/item.png" alt="" />דוח פעילויות</a></li>
                                    <li><a href="~/Reports/StatisticDlg" title="סטטיסטיקה"><span>
                                        <img src="~/Images/icons/item.png" alt="" />דוחות סטטיסטיים</span></a>
                                    </li>
                                </ul>
                            </li>
                            <li class="has-sub"><a href="#" title="פרסום">
                                <span>פרסום</span></a>
                                <ul>
                                    <li><a href="~/Ads/Advertise" title="פרסום חדש">
                                        <img src="~/Images/icons/item.png" alt="" />פרסום חדש</a></li>
                                    <li><a href="~/Ads/AdsList" title="פרסום פעיל">
                                        <img src="~/Images/icons/item.png" alt="" />פרסום פעיל</a></li>
                                    <li><a href="~/Ads/AdsConfirmList" title="ממתינים לאישור">
                                        <img src="~/Images/icons/item.png" alt="" />ממתינים לאישור</a></li>
                                    <li><a href="~/Ads/AdsGrid" title="דוח פרסום">
                                        <img src="~/Images/icons/item.png" alt="" />דוח פרסום</a></li>
                                    <li><a href="~/Grid" title="מדדים"><span>
                                        <img src="~/Images/icons/item.png" alt="" />מדדים</span></a>
                                    </li>
                                </ul>
                            </li>
                            <li class="has-sub"><a href="#" title="קשרי לקוחות">
                                <span>קשרי לקוחות</span></a>
                                <ul>
                                    <li><a href="~/Crm/Customers" title="חשבונות">
                                        <img src="~/Images/icons/item.png" alt="" />חשבונות</a></li>
                                    <li><a href="~/Crm/CustomersGrid" title="איתור חשבון">
                                        <img src="~/Images/icons/item.png" alt="" />איתור חשבון</a></li>
                                    <li><a href="~/Crm/ContactsGrid" title="אנשי קשר">
                                        <img src="~/Images/icons/item.png" alt="" />אנשי קשר</a></li>
                                    <li><a href="~/Crm/Contacts" title="הוספת אנשי קשר"><span>
                                        <img src="~/Images/icons/item.png" alt="" />הוספת אנשי קשר</span></a>
                                    </li>
                                    <li><a href="~/Crm/Leads" title="קשרי לקוחות"><span>
                                        <img src="~/Images/icons/item.png" alt="" />קשרי לקוחות</span></a>
                                    </li>
                                    <li><a href="~/Crm/LeadsFollow" title="מעקב"><span>
                                        <img src="~/Images/icons/item.png" alt="" />מעקב</span></a>
                                    </li>
                                </ul>
                            </li>
                            <li class="has-sub"><a href="#" title="מנהל מערכת">
                                <span>מנהל מערכת</span></a>
                                <ul>
                                    <li><a href="~/Admin/User" title="משתמש חדש">
                                        <img src="~/Images/icons/item.png" alt="" />משתמש חדש</a></li>
                                    <li><a href="~/Admin/UsersList" title="איתור משתמש">
                                        <img src="~/Images/icons/item.png" alt="" />איתור משתמש</a></li>
                                    <li><a href="~/Admin/UserPerms" title="הרשאות">
                                        <img src="~/Images/icons/item.png" alt="" />הרשאות</a></li>
                                    <li><a href="~/Admin/LogonGrid" title="דוח כניסות">
                                        <img src="~/Images/icons/item.png" alt="" />דוח כניסות</a></li>
                                    <li><a href="~/Admin/SysProperties" title="הגדרות כלליות"><span>
                                        <img src="~/Images/icons/item.png" alt="" />הגדרות כלליות</span></a>
                                    </li>
                                </ul>
                            </li>
                            <li class="last"><a href="#" title="ראשי">יציאה</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

