@{

    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Main";
    var userInfo = ViewBag.UserInfo;
    string UserName = userInfo.UserName;

}

@section head {

    @Scripts.Render("~/bundles/jqx")
    <link rel="stylesheet" href="~/Scripts/bootstrap/css/bootstrap.css">

    @*<script type="text/javascript" src="~/Scripts/app/cms.js"></script>*@
    <style type="text/css">
        p {
            font-family: Arial;
        }

        .title {
            font-family: Arial;
        }

        span {
            font-family: Arial;
        }

        .thumb-pad4 {
            border: solid 1px #a09d9d;
        }
        .thumbnail {
            background-color: #fff!important;
            margin: 10px!important;
        }

    </style>
}
@section featured {

}

@section scripts {

    <script type="text/javascript">

        $(document).ready(function () {


            @*if ('@userInfo.UserRole' > 5) {
                var link = app_const.adminLink;
                $('#mngr').append(link);
            }*@
        });
    </script>
}



<div class="global indent">

    <!--content-->
    <div class="container rtl">
        <h2 id="cms_1-text-main-1" class="indent center">מערכת ניהול</h2>
        <div class="spacer-10"></div>
        <div class="row">
            <div class="services-box">
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="thumb-pad4">
                        <div class="thumbnail">
                            @*<div class="badge-rtl"><span class="fa fa-users"></span></div>*@
                            <div class="caption">
                                @*<p id="cms_2-text-main" class="title">מערכת מנויים</p>
        <p id="cms_3-html-main">ניהול מנויים,דיוורים ומסרונים</p>
        <a id="cms_4-link-main" href="~/Main/Dashboard" class="btn-default btn1">הצג <span></span></a>*@
                                <div class="center">מערכת מנויים</div>
                                <a  href="~/Main/Dashboard"><img src="~/Images/main/members.jpg" style="width:220px;height:152px" /></a>

                            </div>
                        </div>
                    </div>
                    <div class="thumb-pad4">
                        <div class="thumbnail">
                            @*<div class="badge-rtl"><span class="fa fa-search"></span></div>*@
                            <div class="caption">
                                @*<p id="cms_5-text-main" class="title">אוטומציה שיווקית</p>
        <p id="cms_6-html-main">בקרוב.</p>
        <a id="cms_7-link-main" href="#" class="btn-default btn1">הצג <span></span></a>*@
                                <div class="center">אוטומציה שיווקית</div>
                                <a  href="#"><img src="~/Images/main/automation.jpg" style="width:220px;height:152px" /></a>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="thumb-pad4">
                        <div class="thumbnail">
                            @*<div class="badge-rtl"><span class="fa fa-briefcase"></span></div>*@
                            <div class="caption">
                                @*<p id="cms_8-text-main" class="title">מערכת משימות</p>
        <p id="cms_9-html-main">ניהול פרוייקטים, משימות,תזכורות וסיכומים.</p>
        <a id="cms_10-link-main" href="~/System/Dashboard" class="btn-default btn1">הצג <span></span></a>*@
                                <div class="center">מערכת משימות</div>
                                <a href="~/System/SystemBoard"><img src="~/Images/main/tasks-mng.jpg" style="width:220px;height:152px" /></a>
                            </div>
                        </div>
                    </div>
                    <div class="thumb-pad4">
                        <div class="thumbnail">
                            @*<div class="badge-rtl"><span class="fa fa-folder-open"></span></div>*@
                            <div class="caption">
                                @*<p id="cms_11-text-main" class="title">עמודי נחיתה</p>
        <p id="cms_12-html-main">ניהול עמודי נחיתה ורישום למובייל ואינטרנט.</p>
        <a id="cms_13-link-main" href="#" class="btn-default btn1">הצג <span></span></a>*@
                                <div class="center">עמודי נחיתה</div>
                                <a href="#"><img src="~/Images/main/web-design.jpg" style="width:220px;height:152px" /></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="thumb-pad4">
                        <div class="thumbnail">
                            @*<div class="badge-rtl"><span class="fa fa-eye"></span></div>*@
                            <div class="caption">
                                @*<p id="cms_14-text-main" class="title">שליטה ובקרה</p>
        <p id="cms_15-html-main">מערכת ניהול.</p>
        <a id="cms_16-link-main" href="~/Admin/Main" class="btn-default btn1">הצג <span></span></a>*@
                                <div class="center">מנהל מערכת</div>
                                <a href="~/Admin/Main"><img src="~/Images/main/admin.jpg" style="width:220px;height:152px" /></a>
                            </div>
                        </div>
                    </div>
                    <div class="thumb-pad4">
                        <div class="thumbnail">
                            @*<div class="badge-rtl"><span class="fa fa-comments"></span></div>*@
                            <div class="caption">
                                @*<p id="cms_17-text-main" class="title">מערכת התראות</p>
        <p id="cms_18-html-main">מערכת לנהיול קליטת התראות .</p>
        <a id="cms_19-link-main" href="#" class="btn-default btn1">הצג <span></span></a>*@
                                <div class="center">מערכת דיוור</div>
                                <a href="~/Netcell/NetcellBoard"><img src="~/Images/main/reports.jpg" style="width:220px;height:152px" /></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
