@model Pro.Lib.Query.MemberQuery
@{
    Layout = "~/Views/Shared/_View.cshtml";
    Page.Title = "Export";
    string message = "נא להמתין ליצירת קובץ להורדה";// ViewBag.Message;
}
@section head {
<script type="text/javascript">
    @*$(document).ready(function () {

        var ser = '@Model.Serialize()';
        alert(ser);
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("DoMembersExport", "Main")',
                    data: { 'q':  ser },
                    contentType: "binary/octet-stream",
                    dataType: "json",
                    success: function (data) {
                        window.location = window.location;
                    },
                    error: function (e) {
                        alert(e);
                    }
                });
            
    });*@
</script>
}
<div class="breadcrumbs"></div>

        <div class="clear"></div>
        <div class="global-view">
            <div class="container">
                <div style="text-align: center">
                    <h2>@message</h2>
                </div>
            </div>
        </div>

<script type="text/javascript">
    app_menu.activeLayoutMenu("liMain");
    app_menu.breadcrumbs("Main", "MemberExport", 'en');
</script>

