@{
    Layout = "~/Views/Shared/_ViewMain.cshtml";
    Page.Title = "Members";
    var userInfo = @Html.Raw(Json.Encode(ViewBag.UserInfo));

}

@section head {


  @Scripts.Render("~/bundles/jqx")
<script type="text/javascript" src="~/jqwidgets/jqxbuttongroup.js"></script>
<script type="text/javascript" src="~/jqwidgets/jqxradiobutton.js"></script>

  <script type="text/javascript" src="~/Scripts/app/main/members-query.js"></script>
    <style type="text/css">
        /*table {
            direction: rtl;
        }

        td {
            padding-top: 0px;
            padding-bottom: 5px;
        }*/
        .ui-accordion-header-active {
            background: #15C8D8;
        }

        /*.exA {
            background: #808080;
        }
        .exA.active {
            background: #99dce2;
        }*/
        
         #form-container {
            margin-left: auto;
            margin-right: 0;
            max-width: 500px;
            direction: rtl;
        }
        .expander-item {
            padding: 0;
            margin: 0;
            /*direction: rtl;
            max-width: 400px;*/
        }
        .expander-entry {
            margin: 5px;
            /*direction:rtl;*/
        }
        .headline {
            color: #32A7C0;
            font-weight: bold;
            font-size:85%;
        }
        input.edit {
            width:150px;
        }
        .switch-item {
           min-width:40px;
        }
        /*.switch-group {
            direction:rtl;text-align:right;
        }
        .switch-item {
            direction: rtl;
            padding: 4px 12px;
        }*/
    </style>
    @*<script>
        $(function () {
            $('#tab-query li:eq(0) a').tab('show');
        });
    </script>*@

    <script type="text/javascript">

        var def;
        $(document).ready(function () {
            
            def = new app_members_query(JSON.parse('@userInfo'));

            /*
            var me = this;
            $("#allBranch").prop('checked', true);
            $("#allCity").prop('checked', true);
            //$("#allPlace").prop('checked', true);
            $("#allCategory").prop('checked', true);
            //$("#allStatus").prop('checked', true);
            $("#allRegion").prop('checked', true);

            $("#accordion").accordion({ heightStyle: "content" });
            $("#accordion-container").accordion({ heightStyle: "content" });

        //$("#exp-1").jqxExpander({ width: 'auto', rtl: true, expanded: true });
        //$("#exp-2").jqxExpander({ width: 'auto', rtl: true, expanded: false });
        //$("#exp-3").jqxExpander({ width: 'auto', rtl: true, expanded: false });
        //$("#exp-4").jqxExpander({ width: 'auto', rtl: true, expanded: false });

            var branchAdapter = app_jqxcombos.createComboAdapter("PropId", "PropName", "listBranch", 'Url.Action("GetBranchView", "Common")', 240, 120, true);
        $('#listBranch').on('change', function (event) {
            app_jqxcombos.comboBoxToInput("listBranch", "Branch", "allBranch");
        });

       

        var enum1Agapter = app_jqx_list.enum1ComboAdapter();
        //$('#ExEnum1').on('change', function (event) {
        //    app_jqxcombos.comboBoxToInput("listStatus", "Status", "allStatus");
        //});
        app_jqx_list.enum2ComboAdapter();
        app_jqx_list.enum3ComboAdapter();
        app_members.displayMemberFields();

        var categoryAdapter = app_jqxcombos.createListAdapter("PropId", "PropName", "listCategory", 'Url.Action("GetCategoriesView", "Common")', 240, 200, true);
        $('#listCategory').jqxListBox({ multiple: true });
        $('#listCategory').on('change', function (event) {
            app_jqxcombos.listBoxToInput("listCategory", "Category", "allCategory");
        });


        var regionAdapter = app_jqxcombos.createListAdapter("PropId", "PropName", "listRegion", 'Url.Action("GetRegionView", "Common")', 240, 120, false);
        $('#listRegion').on('change', function (event) {
            app_jqxcombos.listBoxToInput("listRegion", "Region", "allRegion");
        });

        var currentRegion = function () {

            var reg = $("#Region").val();
            if (isNumeric(reg))
                return reg;
            return 0;
        }

        var citySource =
        {
            dataType: "json",
            dataFields: [
                { name: 'PropId' },
                { name: 'RegionId' },
                { name: 'PropName' }
            ],
            data: { 'region': currentRegion() },
            type: 'POST',
            url: 'Url.Action("GetCityRegionView", "Common")'
        };

        var cityAdapter = new $.jqx.dataAdapter(citySource, {
            //contentType: "application/json; charset=utf-8",
            loadError: function (jqXHR, status, error) {
                //alert("areaAdapter failed: " + error);
            },
            loadComplete: function (data) {
                //alert("areaAdapter is Loaded");
            }
        });
        // perform Data Binding.
        //areaAdapter.dataBind();


        $("#listCity").jqxListBox(
        {
            rtl: true,
            source: cityAdapter,
            width: 240,
            height: 120,
            multiple: true,
            displayMember: 'PropName',
            valueMember: 'PropId'
        });
        $('#listCity').on('change', function (event) {
            app_jqxcombos.listBoxToInput("listCity", "City");//, "allCity");
        });

        $("#listRegion").bind('select', function (event) {
            if (event.args) {

                $("#listCity").jqxListBox({ disabled: false, selectedIndex: -1 });
                var value = event.args.item.value;
                citySource.data = { 'region': value };
                cityAdapter = new $.jqx.dataAdapter(citySource);
                $("#listCity").jqxListBox({ source: cityAdapter });
                $("#City").val("");
            }
        });
        // perform Data Binding.
        //placeAdapter.dataBind();

        //$("#listBranch").jqxListBox('insertAt', "בחר הכל", 1);
        //$("#listCharge").jqxListBox('insertAt', { label: "בחר הכל", value: "-1" }, 1);
        //$("#listCity").jqxListBox('insertAt', { label: "בחר הכל", value: "-1" }, 1);
        //$("#listPlace").jqxListBox('insertAt', { label: "בחר הכל", value: "-1" }, 1);


        //$('#submit').on('click', function () {
        //    var action = $("#form").find('input[name=op]:checked').val();

        //    $("#form").attr('action', app.appPath() + action);
        //});
        $('#submitScreen').on('click', function () {
            var action = '/Main/Members';
            $("#QueryType").val(0);
            $("#form").attr('action', app.appPath() + action);
            $("#form").submit();
        });
        $('#submitExport').on('click', function () {
            var action = '/Main/MembersExport';
            $("#QueryType").val(20);
            $("#form").attr('action', app.appPath() + action);
            $("#form").submit();
        });

        $("input[name=op]:radio").change(function () {
            //$("#rdDefault, #rdSms", "#rdMail").change(function () {
            var action = $("#form").find('input[name=op]:checked').val();
            $("#form").attr('action', app.appPath() + action);
        });
        $('#reset').on('click', function () {
            location.reload();
        });

        $("#allCity").click(function () {

            var items = $("#listCity").jqxListBox('getItems');
            jQuery.each(items, function (i, item) {
                $("#listCity").jqxListBox('selectItem', item);
            });
            app_jqxcombos.listBoxToInput("listCity", "City");
        });
        $("#unselectAllCity").click(function () {
            $("#listCity").jqxListBox('clearSelection');
            $("#City").val("");
        });


        // sginup and payment
        $("#allItems").prop('checked', true);
        $("#allCampaign").prop('checked', true);

        $('#SignupDateFrom').jqxDateTimeInput({ showCalendarButton: true, width: '150px', rtl: true });
        $('#SignupDateTo').jqxDateTimeInput({ showCalendarButton: true, width: '150px', rtl: true });

        $('#SignupDateFrom').val('');
        $('#SignupDateTo').val('');

        var itemsAdapter = app_jqxcombos.createListAdapter("PropId", "PropName", "listItems", 'Url.Action("GetPriceListView", "Common")', 200, 100, true);
        $('#listItems').jqxListBox({ multiple: true, rtl: true });
        $('#listItems').on('change', function (event) {
            app_jqxcombos.listBoxToInput("listItems", "Items", "allItems");
        });

        var campaignAdapter = app_jqxcombos.createComboAdapter("PropId", "PropName", "Campaign", 'Url.Action("GetCampaignView", "Common")', 200, 120, false);
        $('#Campaign').on('change', function (event) {
            $("#allCampaign").prop('checked', false);
        });

        $("#HasSignup-group").jqxButtonGroup({ mode: 'radio', rtl:true });
        $("#HasPayment-group").jqxButtonGroup({ mode: 'radio', rtl: true });
        $("#HasAutoCharge-group").jqxButtonGroup({ mode: 'radio', rtl: true });

        $("#HasSignup-group").on('buttonclick', function (event) {
            var val = $(event.args.button).data('val');
            $("#HasSignup").val(val);
        });
            
        $("#HasPayment-group").on('buttonclick', function (event) {
            var val = $(event.args.button).data('val');
            $("#HasPayment").val(val);
        });
            
        $("#HasAutoCharge-group").on('buttonclick', function (event) {
            var val = $(event.args.button).data('val');
            $("#HasAutoCharge").val(val);
        });

        */
    });

    </script>
}

<!--breadcrumb-->
<div class="breadcrumbs">
</div>
<div class="top-space"></div>

<div class="global-view">
    <div class="container-box">
        <div class="box-title">
            <h3>איתור מנויים</h3>
        </div>

        @*<ul id="tab-query" class="nav nav-tabs">
                <li class="active"><a href="#tab-general" data-toggle="tab">חיפוש כללי</a></li>
                <li><a href="#tab-address" data-toggle="tab">חיפוש לפי כתובת</a></li>
                <li><a href="#tab-item" data-toggle="tab">חיפוש לפי מזהה</a></li>
                <li><a href="#tab-adv" data-toggle="tab">חיפוש מתקדם</a></li>
            </ul>*@
                <div id="form-container">
                    <form id="form" action="Members" method="post">

                        <input type="hidden" id="QueryType" name="QueryType" />
                        <input type="hidden" id="ExType" />

                        <input type="hidden" id="Category" name="Category" />
                        <input type="hidden" id="Status" name="Status" />
                        <input type="hidden" id="Place" name="Place" />
                        <input type="hidden" id="Branch" name="Branch" />
                        <input type="hidden" id="Region" name="Region" />
                        <input type="hidden" id="City" name="City" />

                        <div id="accordion" class="tab-content1" dir="rtl">
                            <h3>איתור כללי</h3>
                            <div id="exp-1" style="padding:0;margin:0">
                                <div class="expander-entry">
                                    <div>
                                        <label class="headline">סיווג-בחירה מרובה</label>
                                        <div id="listCategory" name="listCategory"></div>
                                        <input type="checkbox" id="allCategory" name="allCategory" />&nbsp;<span>הצג הכל</span>
                                    </div>
                                    <div>
                                        <div class="headline">סניף</div>
                                        <div id="listBranch" name="Branch"></div>
                                        <input type="checkbox" id="allBranch" name="allBranch" />&nbsp;<span>הצג הכל</span>
                                    </div>
                                    <div id="divExEnum1" class="field-ex">
                                        <div id="lblExEnum1" class="headline"></div>
                                        <div id="ExEnum1" name="ExEnum1"></div>
                                        <input type="checkbox" id="allEnum1" name="allEnum1" />&nbsp;<span>הצג הכל</span>
                                    </div>
                                    <div id="divExEnum2" class="field-ex">
                                        <div id="lblExEnum2" class="headline"></div>
                                        <div id="ExEnum2" name="ExEnum2"></div>
                                        <input type="checkbox" id="allEnum2" name="allEnum12" />&nbsp;<span>הצג הכל</span>
                                    </div>
                                    <div id="divExEnum3" class="field-ex">
                                        <div id="lblExEnum3" class="headline"></div>
                                        <div id="ExEnum3" name="ExEnum3"></div>
                                        <input type="checkbox" id="allEnum3" name="allEnum3" />&nbsp;<span>הצג הכל</span>
                                    </div>
                                </div>
                            </div>
                            <h3>איתור לפי כתובת</h3>
                            <div id="exp-2" style="padding:0;margin:0">
                                <div class="expander-entry">
                                    <div>
                                        <div class="headline">מחוז</div>
                                        <div id="listRegion" name="listRegion"></div>
                                        <input type="checkbox" id="allRegion" name="allRegion" />&nbsp;<span>הצג הכל</span>
                                    </div>
                                    <div>
                                        <div class="headline">(שם היישוב (מתעדכן אוטומטית</div>
                                        <div id="listCity" name="listCity"></div>
                                        @*<input type="checkbox" id="allCity" name="allCity" />&nbsp;<span>הצג הכל</span>*@
                                        <a href="#" id="allCity">סמן הכל</a>&nbsp;|&nbsp;
                                        <a href="#" id="unselectAllCity">הסר</a>
                                    </div>
                                    <div>
                                        <div class="headline">כתובת</div>
                                        <input type="text" name="address" style="width:240px" maxlength="30" />
                                    </div>
                                </div>
                            </div>
                            <h3>איתור לפי מזהה</h3>
                            <div id="exp-3" style="padding:0;margin:0">
                                <div class="expander-entry">

                                    <div class="headline">תעודת זהות</div>
                                    <div><input type="text" name="MemberId" class="edit" maxlength="10" /></div>
                                    <div class="headline">טלפון נייד</div>
                                    <div><input type="text" name="CellPhone" class="edit" maxlength=" 15" /></div>
                                    <div class="headline">דואר אלקטרוני</div>
                                    <div><input type="text" name="Email" class="edit" maxlength="100" /></div>

                                    <div id="divExId" class="field-ex">
                                        <div id="lblExId" class="headline"></div>
                                        <input type="text" name="ExId" style="width:120px" maxlength="50" />
                                    </div>
                                    <!--
                               <div id="divExField1" class="field-ex">
                                   <div id="lblExField1" class="headline"></div>
                                   <input type="text" name="ExField1" class="edit" maxlength="250" />
                               </div>
                               <div id="divExField2" class="field-ex">
                                   <div id="lblExField2" class="headline"></div>
                                   <input type="text" name="ExField2" class="edit" maxlength="250" />
                               </div>
                               <div id="divExField3" class="field-ex">
                                   <div id="lblExField3" class="headline"></div>
                                   <input type="text" name="ExField3" class="edit" maxlength="250" />
                               </div>
                            -->
                                </div>
                            </div>
                            <h3>איתור מתקדם</h3>
                            <div id="exp-4" style="padding:0;margin:0">
                                <div class="expander-entry">
                                    <div>
                                        <ul>
                                            <li>
                                                <div style="vertical-align:top">
                                                    <div class="headline">גיל</div>
                                                    <span>מ:</span>
                                                    <input type="number" name="ageFrom" class="text-short" />
                                                    <span>עד:</span>
                                                    <input type="number" name="ageTo" class="text-short" />
                                                </div>
                                            </li>
                                            <li class="headline">הצטרפות לפני</li>
                                            <li><input type="number" name="monthlyTime" style="width:60px" /><span>חודשים</span></li>
                                            <li class="headline">שונות</li>
                                            <li><input type="checkbox" id="allBirthday" name="allBirthday" />&nbsp;<span>חוגגים החודש יום הולדת</span></li>
                                            <li><input type="checkbox" id="allCell" name="allCell" />&nbsp;<span>תקשורת לסלולאר</span></li>
                                            <li><input type="checkbox" id="allEmail" name="allEmail" />&nbsp;<span>תקשורת למייל</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <h3>איתור מערכת רישום ותשלומים</h3>
                            <div id="exp-4" style="padding:0;margin:0">
                                <div class="expander-entry">
                                    <div>
                                        <input type="hidden" id="Items" name="Items" />
                                        <ul style="margin-right:10px;">
                                            <li class="headline">קמפיין</li>
                                            <li>
                                                <div id="Campaign" name="Campaign"></div>
                                                <input type="checkbox" id="allCampaign" name="allCampaign" />&nbsp;<span>הצג הכל</span>
                                            </li>
                                            <li class="headline">קוד הפנייה</li>
                                            <li><input type="text" id="ReferralCode" name="ReferralCode" /></li>
                                            <li class="headline">פריטים-בחירה מרובה</li>
                                            <li>
                                                <div id="listItems" name="listItems"></div>
                                                <input type="checkbox" id="allItems" name="allItems" />&nbsp;<span>הצג הכל</span>
                                            </li>

                                            <li class="headline">מחיר</li>
                                            <li>
                                                <div style="vertical-align:top">
                                                    <span>מ:</span>
                                                    <input type="number" name="PriceFrom" step="any" style="width:80px" />
                                                    <span>עד:</span>
                                                    <input type="number" name="PriceTo" step="any" style="width:80px" />
                                                </div>
                                            </li>

                                            <li class="headline">מועד רישום</li>
                                            <li>
                                                <div style="vertical-align:top">
                                                    <span>מ:</span>
                                                    <div id="SignupDateFrom" name="SignupDateFrom"></div>
                                                    <span>עד:</span>
                                                    <div id="SignupDateTo" name="SignupDateTo"></div>
                                                </div>
                                            </li>

                                            <li class="headline">ייתרת תוקף מעל</li>
                                            <li><input type="number" name="ValidityRemain" style="width:60px" /><span>חודשים</span></li>
                                            <li><div style="height:2px"></div></li>
                                           

                                            @*<li class="headline">שונות</li>*@
                                            
                                            @*<li class="headline">מנויים שנרשמו</li>*@
                                            <li>
                                                <div class="headline">מנויים שנרשמו</div>
                                                <div id='HasSignup-group' class="switch-group">
                                                    <div class="switch-item" id=" hassignup-ignore" data-val="0">התעלם</div>
                                                    <div class="switch-item" id="HasSignup-no" data-val="1">לא</div>
                                                    <div class="switch-item" id="HasSignup-yes" data-val="2">כן</div>
                                                </div>
                                            </li>
                                            @*<li class="headline">מנויים ששילמו</li>*@
                                            <li>
                                                <div class="headline">מנויים ששילמו</div>
                                                <div id='HasPayment-group' class="switch-group">
                                                    <div class="switch-item" id="HasPayment-ignore" data-val="0">התעלם</div>
                                                    <div class="switch-item" id="HasPayment-no" data-val="1">לא</div>
                                                    <div class="switch-item" id="HasPayment-yes" data-val="2">כן</div>
                                                </div>
                                            </li>
                                            @*<li class="headline">מנויים עם חיוב חוזר</li>*@
                                            <li>
                                                <div class="headline">מנויים עם חיוב חוזר</div>
                                                <div id='HasAutoCharge-group' class="switch-group">
                                                    <div class="switch-item" id="HasAutoCharge-ignore" data-val="0">התעלם</div>
                                                    <div class="switch-item" id="HasAutoCharge-no" data-val="1">לא</div>
                                                    <div class="switch-item" id="HasAutoCharge-yes" data-val="2">כן</div>
                                                </div>
                                            </li>
                                            
                                            
                                            @*<li><input type="checkbox" id="HasSignup" name="HasSignup" />&nbsp;<span>הצג מנויים שנרשמו</span></li>
                                            <li><input type="checkbox" id="HasPayment" name="HasPayment" />&nbsp;<span>הצג מנויים ששילמו</span></li>
                                            <li><input type="checkbox" id="HasAutoCharge" name="HasAutoCharge" />&nbsp;<span>הצג מנויים עם חיוב חוזר</span></li>*@
                                        </ul>
                                        <input type="hidden" id="HasSignup" name="HasSignup" />
                                        <input type="hidden" id="HasPayment" name="HasPayment" />
                                        <input type="hidden" id="HasAutoCharge" name="HasAutoCharge" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div style="height:10px"></div>
                        <div>
                            @*<div>
                            <input type="radio" id="rdDefault" name="op" value="/Main/Members" checked="checked" />&nbsp;<span>תצוגה למסך</span>
                        </div>*@
                            @*<div>
                            <input type="radio" id="rdSms" name="op" value="/Main/SmsEditor" />&nbsp;<span>אתר נמענים לשליחת מסרון</span>
                        </div>*@
                            <!--<input type="radio" id="rdMail" name="op" value="MailTargets" />&nbsp;<span>אתר נמענים לשליחת דואל</span>-->
                            @*<div class="@exportClass">
                            <input type="radio" id="rdExport" name="op" value="/Main/MembersExport" />&nbsp;<span>ייצוא לקובץ</span>
                        </div>*@
                        </div>
                        <div style="height:10px"></div>
                        <div>
                            <input type="button" id="submitScreen" value="הצג" class="btn-default btn7 w-60" />
                            <input type="button" id="submitExport" value="ייצוא לקובץ" class="btn-default btn7 w-80" />
                            <input type="reset" value="נקה" class="btn-default btn7 w-60" />
                        </div>
                    </form>
                </div>
 
        </div>

</div>
<script type="text/javascript">
    app_menu.activeLayoutMenu("liMain");
    app_menu.breadcrumbs("Main", "MemberQuery", 'en');
   
</script>




