@{
    Layout = "~/Views/Shared/_View.cshtml";
    ViewBag.Title = "Members";
    var userModel = ViewBag.UserInfo;
    var userInfo = @Html.Raw(Json.Encode(userModel));
}
@section head {

    @Scripts.Render("~/bundles/jqx")
    <script type="text/javascript" src="~/jqwidgets/jqxloader.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxtooltip.js"></script>
    <script type="text/javascript" src="~/Scripts/app/main/members-grid.js"></script>
    @*<script type="text/javascript" src="~/Scripts/app/formBuilder.js"></script>*@
    <script type="text/javascript" src="~/Scripts/app/app-wizard-1.0.js"></script>
    <style type="text/css">
        input {
            direction: rtl;
            text-align: right;
        }

        .jqx-grid-cell {
            border: none;
        }
    </style>
}


@section scripts {

    <script type="text/javascript">

    var slf = this;
    var control;

    $(document).ready(function () {

        var data_model = { Id: 0, Option: 'a', Action: null };

        //builder = app_form_Builder.init('', '#divPartial2');
        //builder.addItem(app_field_T.formBegin("form", "/Main/Test"));
        //builder.addItem(app_field_T.sectionBegin("section1", "פרטים 1"));
        //builder.addItem(app_field_T.itemInput("שם", "name"));
        //builder.addItemInputwRule("תעודת זהות", "IdNumber", app_field_T.type_text , "חובה לציין תעודת זהות", app_Rule_T.action_default);
        //builder.addItem(app_field_T.itemInput("כתובת", "address"));

        //builder.addItem(app_field_T.sectionEnd());
        //builder.addItem(app_field_T.formEnd());
        //builder.render();

        control = new app_members_def_control("#divPartial2");
        control.init(data_model, JSON.parse('@userInfo'), 0);
        control.display();


        //if (this.AllowEdit == 0) {
        //    $("$member-item-delete").hide();
        //}

        $('#member-add-update').click(function () {
            if (control != null) {
                control.doSubmit();
            }
        });
        $('#member-add-update-plus').click(function () {
            if (control != null) {
                control.doSubmit();
            }
        });
        $('#member-add-cancel').click(function () {
            app.refresh();

        });

        //$('#member-add-update').click(function () {
        //    control.doSubmitAdd();
        //});
        //$('#member-add-update-plus').click(function () {
        //    control.doSubmitAdd();
        //    control.doClear();
        //});
        //$('#member-add-cancel').click(function () {
        //    control.doClear();
        //});


        //$("#iframe-def").attr('src', app.appPath() + '/Common/_MemberEdit?id=0');
    });

    function triggerMemberComplete(memid) {
        //app_dialog.dialogIframClose();
    };

    </script>
}

<div class="breadcrumbs"></div>

<div class="global-view">
    <div id="wiz-container" class="container">

        <div class="panel-area">
            <h3 id="wiz-2-title" class="rtl panel-area-title">
                עריכת מנוי
            </h3>
            <div id="divPartial2" style="margin:0;padding:0"></div>
            <div class="rtl panel-area" style="margin-top:5px;">
                <a id="member-add-update" class="btn-default btn7 w-60" href="#">עדכון</a>
                <a id="member-add-update-plus" class="btn-default btn7 w-60" href="#">עדכון+</a>
                <a id="member-add-cancel" class="btn-default btn7 w-60" href="javascript:wizard.displayStep(1);">ביטול</a>
            </div>
        </div>


        @*<div class="grid-wrap">

                <div id="jqxWidget">
                        <iframe id="iframe-def" src="/Common/_MemberEdit?id=0" width="100%" height="600" scrolling="no" frameborder="0"></iframe>
                </div>
            </div>*@
    </div>
</div>
<script type="text/javascript">
    app_menu.activeLayoutMenu("liMain");
    app_menu.breadcrumbs("Main", "MembersAdd", 'en');
</script>

