@{
    Layout = "~/Views/Shared/_View.cshtml";
    Page.Title = "Reports";
    
   
}

@section head {


    @Scripts.Render("~/bundles/jqx")
    @Scripts.Render("~/bundles/jqxgrid")
   <script type="text/javascript" src="~/jqwidgets/jqxradiobutton.js"></script>
    <style type="text/css">
        
    </style>
    

    <script type="text/javascript">
        $(document).ready(function () {
            var me = this;

            $("#jqxRadioButton").jqxRadioButton({ width: 250, height: 25, checked: true,rtl:true });
            $("#jqxRadioButton2").jqxRadioButton({ width: 250, height: 25, rtl: true });
            $("#jqxRadioButton3").jqxRadioButton({ width: 250, height: 25, rtl: true });
            $("#jqxRadioButton4").jqxRadioButton({ width: 250, height: 25, rtl: true });
            $("#jqxRadioButton5").jqxRadioButton({ width: 250, height: 25, rtl: true });

            $('#SignupDateFrom').jqxDateTimeInput({ showCalendarButton: true, width: '150px', rtl: true });
            $('#SignupDateTo').jqxDateTimeInput({ showCalendarButton: true, width: '150px', rtl: true });

            $('#SignupDateFrom').val('');
            $('#SignupDateTo').val('');

            var campaignAdapter = app_jqxcombos.createComboAdapter("PropId", "PropName", "Campaign", '@Url.Action("GetCampaignView", "Common")', 200, 120, false);
            //$('#Campaign').on('change', function (event) {
            //    $("#allCampaign").prop('checked', false);
            //});

            setReport("StatisticByItems");

            $('#jqxRadioButton').on('checked', function (event) {
                setReport('StatisticByItems');
            });
            $('#jqxRadioButton2').on('checked', function (event) {
                setReport('StatisticByCategory');
            });
            $('#jqxRadioButton3').on('checked', function (event) {
                setReport('StatisticByBranch');
            });
            $('#jqxRadioButton4').on('checked', function (event) {
                setReport('StatisticByCampaign');
            });
            $('#jqxRadioButton5').on('checked', function (event) {
                setReport('StatisticByPayments');
            });
    

            function setReport(reportType) {

                $("#divCampaign").hide();
                $("#query_type").val(reportType);


                switch(reportType)
                {
                    case "StatisticByItems":
                        $("#divCampaign").show();
                        break;
                    case "StatisticByCategory":
                        $("#divCampaign").show();
                        break;
                    case "StatisticByBranch":
                        $("#divCampaign").show();
                        break;
                    case "StatisticByCampaign":
                        $("#divCampaign").hide();
                        break;
                    case "StatisticByPayments":
                        $("#divCampaign").show();
                  
                }
            }

            });

    </script>
}

<!--breadcrumb-->
<div class="breadcrumbs">
</div>


<div class="global-view">

    <div class="container-rtl">
        <div class="box-title">
            <h3>מערכת - דוחות</h3>
        </div>

        <div id='jqxWidget'>
            <h4 id="report_name" style="color:#0094ff"></h4>
            <div style='margin-top: 10px;' id='jqxRadioButton'>
                התפלגות לפי פריט ומחיר
            </div>
            <div style='margin-top: 10px;' id='jqxRadioButton2'>
                <span>התפלגות לפי סיווג</span>
            </div>
            <div style='margin-top: 10px;' id='jqxRadioButton3'>
                <span>התפלגות לפי סניפים</span>
            </div>
            <div style='margin-top: 10px;' id='jqxRadioButton4'>
                <span>התפלגות לפי קמפיין</span>
            </div>
            <div style='margin-top: 10px;' id='jqxRadioButton5'>
                <span>התפלגות לפי תשלום</span>
            </div>

            <div>

            </div>
        </div>

        <form id="formGeneral" action="/Reports/StatisticReport" method="post">
            <div>
                <input type="hidden" id="query_type" name="query_type" value="" />
            </div>

            <div id="divCampaign">
                <div>קמפיין</div>
                <div>
                    <div id="Campaign" name="Campaign"></div>
                    @*<input type="checkbox" id="allCampaign" name="allCampaign" />&nbsp;<span>הצג הכל</span>*@
                </div>
            </div>
            <div id="divDate">

                <div>מועד רישום</div>
                    <div style="vertical-align:top">
                        <span>מ:</span><br />
                        <div id="SignupDateFrom" name="SignupDateFrom"></div>
                        <span>עד:</span><br />
                        <div id="SignupDateTo" name="SignupDateTo"></div>
                    </div>
                
            </div>

    <br />
    <div>
        <input type="submit" value="הצג" class="btn-default btn2" />
        <input id="reset" type="reset" value="נקה" class="btn-default btn2" />
    </div>
    </form>
</div>
</div>

<script type="text/javascript">
    app_menu.activeLayoutMenu("liReport");
    app_menu.breadcrumbs("Reports", "ReportQuery", 'en');
</script>



