@model Pro.Lib.Query.SendReportQuery
@{
    Layout = "~/Views/Shared/_View.cshtml";
    ViewBag.Title = "SendReport";
    var dataModel = @Html.Raw(Json.Encode(Model));
    var userInfo = @Html.Raw(Json.Encode(ViewBag.UserInfo));
}
@section head { 

    @Scripts.Render("~/bundles/jqx")
    @Scripts.Render("~/bundles/jqxgrid")
    <script type="text/javascript" src="~/Scripts/app/app-jqx-grid-1.0.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxdata.export.js"></script>
    <script type="text/javascript" src="~/Scripts/app/main/sendreport-grid.js"></script>

    <style type="text/css">
        input {
            direction:rtl;text-align:right;
        }
    </style>
}


@section scripts {

    <script type="text/javascript">

    //var NScustomers = {};
    var members_grid;

    $(document).ready(function () {
        JSON.useDateParser();
        var theme = 'Arctic';

        app_sendreport_grid.load(JSON.parse('@dataModel'), JSON.parse('@userInfo'));
        app_jqxgrid.gridFilterEx(this, $("#grid-toolbar"), columnList, dateList);
        });

        var columnList = [
      { label: 'מספר פעולה', value: 'MessageId', checked: false },
      { label: 'נמען', value: 'Target', checked: false },
      { label: 'פרסונאל', value: 'Personal', checked: false },
      { label: 'יחי-חיוב', value: 'Units', checked: true },
      { label: 'מחיר', value: 'Price', checked: true },
      { label: 'מס-שליחה', value: 'BatchId', checked: true },
      { label: 'סטאטוס', value: 'StatusName', checked: false }
        ];

        var dateList = [
         { label: 'מועד שליחה', value: 'SentTime', checked: false }
        ];

    </script>
}


@section featured {


}

<div class="breadcrumbs">
</div>

<div class="top-space"></div>

<div class="global">
    <div class="container">
        <h3 class="rtl">דוח שליחות מפורט לפי נמענים</h3>
        <div class="grid-wrap rtl">
            <div id="grid-toolbar" class="grid-toolbar"></div>
            <div id="jqxWidget">
                <div id="jqxgrid" style="position:relative;z-index:1;"></div>
                <p class="rtl">הדוח אינו כולל דיוורים (קמפיינים) ממערכת EPHONE</p>
            </div>

        </div>
    </div>
</div>
<script type="text/javascript">
    app_menu.activeLayoutMenu("liCom");
    app_menu.breadcrumbs("Main", "SendReport", 'en');
</script>

