@{
    Layout = "~/Views/Shared/_View.cshtml";
    Page.Title = "Sms";
}
@section head {

    @Scripts.Render("~/bundles/jqx")
   <script type="text/javascript" src="~/Scripts/app/dateFormat.js"></script>
   @*<script type="text/javascript" src="~/Scripts/plagins/blockUI.js"></script>
   <script type="text/javascript" src="~/Scripts/jq/jquery.ui.1.11.1.js"></script>
   <link rel="stylesheet" href="~/Scripts/jq/css/jquery-ui.css" type="text/css" />*@

    <style type="text/css">
        .styledTable {
            direction:rtl; text-align:right;
        }
        .styledTableHeader {background-color:#0094ff;color:#fff;padding-left:20px;text-align:right;
        }
        .styledTableHeader {background-color:#0094ff;color:#fff;text-align:right;
        }
        .styledRowKey {padding-left:20px;text-align:right;
        }
        .styledRowValue {text-align:right;
        }
        #wizard-validation {
            background-color: transparent;
        }
     </style>
}

@section scripts {
    <script type="text/javascript">

    $(document).ready(function () {
        JSON.useDateParser();
        var theme = 'Arctic';

        $('#btnShow').hide();

        //app_jqx_list.categoryComboAdapter();
        //app_jqxcombos.createCheckListAdapter("PropId", "PropName", "listCategory", "/Common/GetCategoriesView", 240, 140, false);


        app_jqx_list.categoryCheckListAdapter("listCategory", "Category");
        $("#listCategory").jqxListBox({ height: 200 });
        $('#listCategory').on('checkChange', function (event) {
            app_jqxcombos.listCheckBoxToInput("listCategory", "Category", "allCategory");
            //app_jqxcombos.listCheckBoxOutput("listCategory", "CategoryValue", "Category", "allCategory");
            getTargetsCount();
        });
        $("#allCategory").change(function () {
            if (this.checked) {
                $("#listCategory").jqxListBox('uncheckAll');
            }
            getTargetsCount();
        });

        $("#listPersonalDisplay").jqxListBox({ source: personalList, width: 200, height: 200, checkboxes: true, rtl: true });
        $('#listPersonalDisplay').on('checkChange', function (event) {
            app_jqxcombos.listCheckBoxToPersonal("listPersonalDisplay", "PersonalDisplay", null, true);
            $("#divPersonalFields").text($("#PersonalDisplay").val());
        });
          

        //initialize validator.
        $('#form').jqxValidator({
            rtl: true,
            hintType: 'label',
            animationDuration: 0,
            rules: [
                    //{
                    //    input: '#TargetCount', message: 'אין נמענים לשליחה!', action: 'keyup, blur', rule: function () {
                    //        var value = $("#TargetCount").val();
                    //        return value > 0;
                    //    }
                    //},
                { input: '#Message', message: 'חובה לציין נוסח הודעה!', action: 'keyup, blur', rule: 'required' },
                //{
                //    input: "#City1", message: 'חובה לציין עיר!', action: 'keyup, select', rule: function (input, commit) {
                //        var index = $("#City1").jqxComboBox('getSelectedIndex');
                //        return index != -1;
                //    }
                //},
            ]
        });
       
     
        function progress() {
            var val = progressbar.progressbar( "value" ) || 0;
            progressbar.progressbar( "value", val + Math.floor( Math.random() * 3 ) );
            if ( val <= 99 ) {
                progressTimer = setTimeout( progress, 50 );
            }
        }
        $('#test').on('click', function (e) {

            app_dialog.confirm("הדיוור יישלח ל  נמענים, האם להמשיך ?",
                        callBack = function (arg) {
                            alert(arg);
                        },'ok');

        });


        $('#submit').on('click', function (e) {
            var count = $("#TotalCount").val();
            app_jqxcombos.listCheckBoxToPersonalFields("#listPersonalDisplay", "#PersonalDisplay", "#PersonalFields")

            var validationResult = function (isValid) {
                if (isValid) {
                    app_dialog.confirm("הדיוור יישלח ל " + count + " נמענים, האם להמשיך ?",
                        callBack = function () {
                        app_dialog.dialogProgress(null, 'Send Broadcast');
                        $('#form').submit();
                    });
                }
            }
            $('#form').jqxValidator('validate', validationResult);
        });

        $('#reset').on('click', function (e) {
            location.reload();
            //$('#form')[0].reset();
            //$('#form').jqxValidator('hide');
        });

        $('#btnShow').on('click', function (e) {
            var cat;
            if ($('#allCategory').prop('checked'))
                cat = "all";
            else
                cat = $("#Category").val();

            if (cat == null || cat == "")
               app_dialog.alert("נא לסמן סיווג");
            else if ($("#TotalCount").val() > 0)
                app_dialog.dialogIframe('/Common/_Targets?mode=catsms&cat=' + cat, "580", "500", "רשימת נמענים לדיוור");
            
        });

        //$('#btnShow').on('click', function (e) {

        //    var cat;
        //    if ($('#IsAll').prop('checked'))
        //        cat = "all";
        //    else
        //        cat = $("#Category").val();

        //    if (cat == null || cat == "")
        //       app_dialog.alert("נא לסמן סיווג");
        //    else if ($("#TotalCount").val() > 0)
        //        popupIframe('/Common/_Targets?mode=catsms&cat=' + cat, "580", "500");

        //});

      
        //$("#IsAll").change(function () {
        //        getTargetsCount();
        //});
        //$('#Category').on('select', function (event) {
        //    getTargetsCount();
        //});

        //wizard ====================================
        var $tabs = $('#wizard').tabs();
        $('#wizard').css('height', '400px');
        $('.prev-tab').hide();
        $('.end-tab').hide();

        $('.next-tab').click(function () {

            var totalSize = $(".ui-tabs-panel").size() - 1;
            var active = $('#wizard').tabs("option", "active");
            switch (active) {
                case 0:
                    var value = $("#TotalCount").val();
                    if (value <= 0) {
                        return displayWizardValidation("אין נמענים לשליחה");
                    }
                    break;
            }
            //$('#wizard-validation').val("");
            var next = active + 1;
            if (next >= totalSize) {
                $('.next-tab').hide();
                $('.end-tab').show();
            }
            $('.prev-tab').show();
            $('#wizard').tabs({ active: next });
            displayStep(next, totalSize);
            return false;
        });
        $('.prev-tab').click(function () {
            var active = $('#wizard').tabs("option", "active");
            var prev = active - 1;
            if (prev <= 0) {
                $('.prev-tab').hide();
            }
            $('.end-tab').hide();
            $('.next-tab').show();
            $('#wizard-validation').val("");
            $('#wizard').tabs({ active: prev });
            displayStep(prev);
            //$tabs.tabs('select', $(this).attr("rel"));
            return false;
        });
        var displayStep = function (step, totalSize) {
            step++;
            if (totalSize === undefined)
                totalSize = $(".ui-tabs-panel").size() - 1;
            totalSize++;
            $('#wizard-validation').val("שלב " + step + " מתוך " + totalSize);
        }
        var displayWizardValidation = function (message) {
            $('#wizard-validation').val(message);
            return false;
        }
        displayStep(0);

        //end wizard =====================================
    });

    function setTargetsCount(value) {

        $("#TotalCount").val(value);
        if (value > 0)
            $('#btnShow').show();
        else
            $('#btnShow').hide();
    }


    function getTargetsCount(isAll) {
        var cat;
        if ($('#allCategory').prop('checked'))
            cat = "all";
        else
            cat = $("#Category").val();

        if (cat != null && cat != "") {

            $.ajax({
                url: '/Common/GetTargetsCount',
                type: 'post',
                dataType: 'json',
                data: { 'mode': 'catsms', 'cat': cat },
                success: function (data) {
                    setTargetsCount(data);
                },
                error: function (jqXHR, status, error) {
                   alert(error);
                }
            });
        }
        else {
            setTargetsCount(0);
        }
    }

    //function setTargetsCount(value) {

    //    $("#TotalCount").val(value);
    //    if (value > 0)
    //        $('#btnShow').show();
    //    else
    //        $('#btnShow').hide();
    //}

    //    function getTargetsCount(isAll)
    //    {
    //        var cat;
    //        if ($('#IsAll').prop('checked'))
    //            cat = "all";
    //        else
    //            cat = $("#Category").val();

    //        if (cat != null && cat != "") {

    //            $.ajax({
    //                url: '/Common/GetTargetsCount',
    //                type: 'post',
    //                dataType: 'json',
    //                data: { 'mode': 'catsms', 'cat': cat },
    //                success: function (data) {
    //                    setTargetsCount(data);
    //                },
    //                error: function (jqXHR, status, error) {
    //                   app_dialog.alert(error);
    //                }
    //            });
    //        }
    //    }

         $("#Message").change(function () {
             var len = $(this).val().length;
             $('#CharCount').val(len);
        });

        $('#Message').keyup(function () {
            var len = $(this).val().length;
            $('#CharCount').val(len);
        });

        var personalList = [
     { label: 'תז', value: 'MemberId', checked: false },
     { label: 'שם פרטי', value: 'FirstName', checked: false },
     { label: 'שם משפחה', value: 'LastName', checked: false },
     { label: 'טלפון נייד', value: 'CellPhone', checked: false },
     { label: 'דואר אלקטרוני', value: 'Email', checked: false }
        ];

</script>

}

<!--breadcrumb-->
<div class="breadcrumbs">
</div>

<div class="global-view">
    <div class="container-box">
        <h3 class="rtl">שליחת מסרון</h3>
        <div style="height: 10px;">
        </div>
        <div id="tag-form">
            
                <form class="form" id="form" method="post" action="@Url.Action("SendSmsCategory", "Main")">
                    <div id="wizard">
                        <ul>
                            <li><a href="#tab-1">1</a></li>
                            <li><a href="#tab-2">2</a></li>
                            <li><a href="#tab-3">3</a></li>
                        </ul>
                        <div id="tab-1" class="ui-tabs-panel">
                            <h3>נמענים</h3>
                            <div>
                                <div class="form-group">
                                    סיווגים:
                                    <div id="listCategory"></div>
                                    <input type="hidden" id="Category" name="Category" />
                                    <input type="checkbox" id="allCategory" name="allCategory" /><span>  </span><span>שלח לכל המנויים</span>
                                </div>
                                <div class="form-group">
                                    סה"כ נמענים:<input type="text" id="TotalCount" readonly class="text-short" style="border:none" />
                                    <a id="btnShow" href="#" class="btn-tab">הצג נמענים</a>
                                    <br />
                                </div>
                            </div>
                        </div>
                        <div id="tab-2" class="ui-tabs-panel">
                            <h3>פרסונאליזציה</h3>
                            <div class="form-group">
                                <div class="column">
                                    בחירת שדות פרסונאליים:
                                </div>
                                <div id="listPersonalDisplay"></div>
                                <input type="hidden" id="PersonalDisplay" name="PersonalDisplay" />
                                <input type="hidden" id="PersonalFields" name="PersonalFields" />
                            </div>
                            <p style="text-align: right; padding: 10px;max-height:100px;overflow:auto;">
                                <span>לשליחת הודעה פרסונאלית יש לבחור את השדה מהרשימה (פרסונאלי) ולציין בגוף ההודעה במיקום הרצוי את שם השדה בתוך סוגריים מרובעים לדוגמא:</span>
                                <br />
                                <span>לדוגמא: [שם פרטי] שלום רב</span>

                            </p>
                        </div>
                        <div id="tab-3" class="ui-tabs-panel">
                            <div class="form-group">
                                <div class="column">
                                    נוסח:
                                </div>
                                <textarea id="Message" name="Message" style="min-width:350px; width:80%;height:200px"></textarea>
                            </div>
                            <div class="form-group">
                                <div class="column">
                                    מספר תוים:
                                </div>
                                <input id="CharCount" name="CharCount" type="number" readonly="readonly" style="width:80px" />
                            </div>
                            <div>שדות פרסונאלים שנבחרו:</div>
                            <div id="divPersonalFields"></div>
                        </div>
                    </div>
                    <div id="wizard-steps">
                        <a href="#" class="btn-tab prev-tab ">הקודם</a>
                        <a href="#" class="btn-tab next-tab">הבא</a>
                        <a id="submit" href="#" class="btn-tab end-tab">סיום</a>
                        <input type="text" id="wizard-validation" readonly />
                    </div>
             </form>
            @*<div id="dialog" title="Send broadcast">
                <div class="progress-label">Wait...</div>
                <div id="progressbar"></div>
            </div>*@

            @*<div id="progressbar">
                <a id="testback" href="#">testback</a>
            </div>*@
        </div>
    </div>
</div>

<!--end of content-wrapper-->
<script type="text/javascript">
    app_menu.activeLayoutMenu("liCom");
    app_menu.breadcrumbs("Main", "SmsBroadcast", 'en');
</script>

