@{
    Layout = "~/Views/Shared/_ViewMain.cshtml";
    Page.Title = "Status";
    string message = ViewBag.Message;
}
@section head {
}

<div class="clear"></div>
<div class="global-view">
    <div class="container">
        <div style="text-align: center">
            <h2>@message</h2>
        </div>
    </div>
</div>


