@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "About";
}


<div class="global indent">
    <!--content-->
    <div class="who-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <h2 class="indent">What we do</h2>
                    <div class="thumb-pad3">
                        <div class="thumbnail">
                            <figure><img src="~/images/site/page2_pic1.jpg" alt=""></figure>
                            <div class="caption">
                                <h3>Maecenas congue posuere nulla, vel scelerisque tortor</h3>
                                <p>At vero eos et accusamus et iusto odio dignissimosede ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molesas.</p>
                                <p>Aenean erat ligula, porttitor id rutrum quis, tincidunt id elit. Ut risus mi, imperdiet sit amet felis vitae, gravida.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 history-box">
                    <h2 class="indent">Our history</h2>
                    <ul class="list6">
                        <li>
                            <time datetime="2014-01-01">March 10, 1990</time>
                            <p>Aenean erat ligula, porttitor id rutrum quis, tincidunt id elit. Ut risus mi, imperdiet sit amet felis vitae, gravida consectetur lorem. Maecenas mollis est nec.</p>
                        </li>
                        <li>
                            <time datetime="2014-01-01">May 17, 2012</time>
                            <p>Ut risus mi, imperdiet sit amet felis vitae, gravida consectetur mauris mattis erat leo, ut hendrerit nisi vestibulum ut. Sed lobortis commodo dui, vitae.</p>
                        </li>
                        <li>
                            <time datetime="2014-01-01">July 16, 2013</time>
                            <p>Sed lobortis commodo dui, vitae sagittis diam tincidunt et. Aliquam erat volutpat. Duis at risus et ligula porttitor lacinia et ut sem. Curabitur ac.</p>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 trainers-box">
                    <h2 class="indent">ADMINISTRATIVE JOBS</h2>
                    <h3>Aenean erat ligula, porttitor</h3>
                    <p>Aenean erat ligula, porttitor id rutrum quis, tincidunt id elit. Ut risus mi, imperdiet sit amet felis vitae, gravida consectetur lorem.</p>
                    <ul class="list1-1">
                        <li><a href="#">Lorem ipsum dolor sit adipiscing</a></li>
                        <li><a href="#">Sus ut felis orci sed triste</a></li>
                        <li><a href="#">Tristique diama phare tralibero</a></li>
                        <li><a href="#">Fermentum lorem ipsum dolor sit</a></li>
                        <li><a href="#">Adipiscing elitsus ut  felis orcise</a></li>
                        <li><a href="#">Tristique diama phare tralibero</a></li>
                        <li><a href="#">Fermentuma lorem ipsum dolor</a></li>
                        <li><a href="#">Tristique diama phare tralibero</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="testimBox"> 
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <h2 class="indent">Our Team</h2>
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                            <div class="thumb-pad6 maxheight">
                                <div class="thumbnail">
                                    <figure></figure>
                                    <div class="caption">
                                        <a href="#">Eva Adamson</a>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed dobe eiusmod tem.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                            <div class="thumb-pad6 maxheight">
                                <div class="thumbnail">
                                    <figure></figure>
                                    <div class="caption">
                                        <a href="#">David Austin</a>
                                        <p>St amet, consectetur adipisicing elit sed dobe eiusmod tempor incididun.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                            <div class="thumb-pad6 maxheight">
                                <div class="thumbnail">
                                    <figure></figure>
                                    <div class="caption">
                                        <a href="#">Natalie Barnes</a>
                                        <p>Amet, consectetur adipisicing elit sed dobe eiusmod tempor incididun.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                            <div class="thumb-pad6 maxheight">
                                <div class="thumbnail">
                                    <figure></figure>
                                    <div class="caption">
                                        <a href="#">Thomas Bishop</a>
                                        <p>Ipsum dolor sit amet, consectetur adipisicing elit sed dobe eiusmod tempor incididun.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="advantages-box"> 
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <h2 class="indent">our  Opportunities</h2>
                    <ul class="list1">
                        <li>
                            <strong>1.</strong>
                            <div class="extra-wrap">
                                <a href="#">At vero eos et <br>accusamus et iusto</a>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed dobe eiusmod tempor.</p>
                            </div>
                            <i></i>
                        </li>
                        <li>
                            <strong>2.</strong>
                            <div class="extra-wrap">
                                <a href="#">Lorem ipsum dolor sit amet <br>consectetur adipisicing</a>
                                <p>Dolor sit amet, consectetur adipisicing elit sed dobe eiusmod tempor incididunut labor.</p>
                            </div>
                            <i></i>
                        </li>
                        <li>
                            <strong>3.</strong>
                            <div class="extra-wrap">
                                <a href="#">Nam libero tempore cum <br>soluta nobis est</a>
                                <p>Amet, consectetur adipisicing elit sed dobe eius mod tempor incididunut labore et dolor.</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <h2 class="indent">Clerical Jobs</h2>
                    <h3>Placerat accumsan in posuere ligula. Nulla ut nunc tellus</h3>
                    <p>At vero eos et accusamus et iusto odio dignissimosede ducimus qui blanditiis praesentium voluptatum deleniti</p>
                    <ul class="list1-1">
                        <li><a href="#">Fermentum lorem ipsum dolor sit</a></li>
                        <li><a href="#">Adipiscing elitsus ut  felis orcise</a></li>
                        <li><a href="#">Tristique diama phare tralibero</a></li>
                        <li><a href="#">Fermentuma lorem ipsum dolor</a></li>
                        <li><a href="#">Tristique diama phare tralibero</a></li>
                        <li><a href="#">Fermentuma lorem ipsum dolor  </a></li>
                        <li><a href="#">Adipiscing elit sus ut </a></li>
                        <li><a href="#">Felis orci Sed triste</a></li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <h2 class="indent">testimonials</h2>
                    <div class="thumb-pad5 clearfix">
                        <div class="thumbnail">
                            <div class="caption">
                                <img src="~/images/site/quote.png" alt="">
                                <div class="extra-wrap">
                                    <p>At vero eos et accusamus et iusto odio dignissimosede ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molesas. Aenean erat ligula, porttitor id rutrum quis, tincidunt id elit. Ut risus mi, imperdiet sit amet felis vitae, consectetur lorem.</p>
                                    <a href="#">Maria Brooks, client</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="thumb-pad5 clearfix">
                        <div class="thumbnail">
                            <div class="caption">
                                <img src="~/images/site/quote.png" alt="">
                                <div class="extra-wrap">
                                    <p>Mauris mattis erat leo, ut hendrerit nisi vestibulum ut. Sed lobortis commodo dui, vitae sagittis diam tincidunt et. Aliquam erat volutpat. Duis at risus et ligula porttitor lacinia et ut sem. Curabitur ac felis ac turpis placerat accumsan in posuere ligula. Nulla ut nunc tellus. Nam sem.</p>
                                    <a href="#">Steven Donovan, client</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>
</div>