<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
	<title>התפקדות לבית היהודי</title>
	<link rel="stylesheet" href="css/html5reset-1.6.1.css" />
	<link rel="stylesheet" href="css/style.css" />
</head>
<body>
	<div class="basad">בס"ד</div>
	<div class="logo">
		<p><a href="pg0.html" class="footer-btn">חזרה לעמוד הראשי</a></p>
		<img src="images/logo.gif" alt="logo"/>
	</div>
	<div class="share">
		<br>
<br>
<br>
<h1>תודה רבה על התפקדותך
לתנועת הבית היהודי
</h1>
		<p>קבלה על התפקדותך תשלח
לכתובת הדואר האלקטרוני שהזנת
</p><br>
<br>
<br>

	</div>
<!--	<div class="stp1">
		<div class="form">
			<div class="invoice">
				לכבוד ישראל ישראלי<br>
				<strong>מספר קבלה: 100001</strong><br><br>
				<table border="0" cellspacing="0" cellpadding="0" class="invoice-tbl">
					<tr>
						<th>סכום</th>
						<th>מהות</th>
					</tr>
					<tr>
						<td>39 ₪</td>
						<td>התפקדות לתנועת הבית היהודי</td>
					</tr>
				</table>
				 <br>
				שולם בכרטיס אשראי
			</div>
		</div>
		
		<div class="form">
			<form>
				<div class="lable">
					<div class="right">קוד הפניה</div>
					<div class="left">Reference Code</div>
					<div class="clear"></div>
				</div>
				<div class="input-group">
				  <input type="text" class="txt"/>
				  <span class="input-group-btn">
					<button class="btn" type="button">שלח</button>
				  </span>
				</div>
				<p class="remark">* אין חובה למלא שדה זה</p>
			</form>
		</div>
	</div>-->
	
	<div class="footer">
		<p>נתקלת בבעיה? שלח לנו מייל לכתובת <a href="mailto:vaadatbchirotby@gmail.com">vaadatbchirotby@gmail.com</a>  
<br>
עם שם ומספר נייד ונחזור אליך</p>
		<p class="powered">powered by My T Interactive Ltd</p>
	</div>
</body>
</html>
