<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
	<title>התפקדות לבית היהודי</title>
	<link rel="stylesheet" href="css/html5reset-1.6.1.css" />
	<link rel="stylesheet" href="css/style.css" />
</head>
<body>
	<div class="basad">בס"ד</div>
	<div class="logo">
		<img src="images/logo.gif" alt="logo"/>
	</div>
	<div class="title">
		<p class="big">ברוכים הבאים לאתר ההתפקדות לתנועת הבית היהודי</p>
		מיסודה של המפד"ל – המפלגה הדתית לאומית המזרחי הפועל המזרחי בארץ ישראל
	</div>
	<div class="stp1">
		<div class="form">
            <p>האם התפקדת בעבר למפלגת הבית היהודי?</p>
            <label class="radio">
                <input type="radio">
                כן
            </label>
            <label class="radio">
                <input type="radio">
                לא
            </label>
            <br>
			<br>
			<p><a href="#" class="btn">להתפקדות <span style="text-decoration:underline;">זוגית</span> לבית היהודי</a></p>
			<br>
			<p><a href="#" class="btn">להתפקדות <span style="text-decoration:underline;">יחיד</span> לבית היהודי</a></p>
			<br><br>
			<p><a href="#" class="link">להורדת טופס התפקדות ידני</a></p>
			<p>להתפקדות באמצעות צ'ק, הוראת קבע וכרטיס אשראי</p>
			<br><br>
		</div>
	</div>
	<div class="footer">
		<div class="wrap">
			<p>יושב ראש המפלגה קיצר את תקופת האכשרה הנדרשת בתקנון כדי לאפשר למתפקדים את הזכות לבחור ולהיבחר במידה ויתקיימו בחירות לכנסת או למוסדות המפלגה בתוך תקופה זו. בתאריך <strong>31.10.16</strong> בחצות יפוג תוקפה של ההחלטה ותקופת האכשרה, לעניין הזכות להבחר תחזור להיות 18 חודשים ולעניין הזכות לבחור 12 חודשים רצופים של חברות לפי הקבוע בתקנון.</p>
			<p>הבקשה מנוסחת בלשון זכר אולם גם לשון נקבה במשתמע</p>
		</div>
		<p class="powered">powered by My T Interactive Ltd</p>
	</div>
</body>
</html>
