<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
	<title>התפקדות לבית היהודי</title>
	<link rel="stylesheet" href="css/html5reset-1.6.1.css" />
	<link rel="stylesheet" href="css/style.css" />
</head>
<body>
	<div class="basad">בס"ד</div>
	<div class="logo">
		<p><a href="pg0.html" class="footer-btn">חזרה לעמוד הראשי</a></p>
		<img src="images/logo.gif" alt="logo"/>
	</div>
	<div class="stp1">
		<h3><span>אנא הקלידו פרטים אישיים</span> (שלב 1 מתוך 3):</h3>
		<p class="remark">* שדה חובה</p>
		<div class="form">
			<form>
				<div class="lable">
					<div class="right">*שם משפחה</div>
					<div class="left">Last Name*</div>
					<div class="clear"></div>
				</div>
				<input type="text" class="txt"/>
				<div class="lable">
					<div class="right">*שם פרטי</div>
					<div class="left">First Name*</div>
					<div class="clear"></div>
				</div>
				<input type="text" class="txt"/>
				<div class="lable">
					<div class="right">*ת.ז.</div>
					<div class="left">Identification Number*</div>
					<div class="clear"></div>
				</div>
				<input type="text" class="txt"/>
				<div class="lable">
					<div class="right">*טלפון נייד</div>
					<div class="left">Mobile Number*</div>
					<div class="clear"></div>
				</div>
				<input type="text" class="txt"/>
				
				<div class="lable">
					<div class="right">טלפון בבית</div>
					<div class="left">Home Number</div>
					<div class="clear"></div>
				</div>
				<input type="text" class="txt"/>
				<div class="lable">
					<div class="right">*אימייל</div>
					<div class="left">Email*</div>
					<div class="clear"></div>
				</div>
				<input type="text" class="txt"/>
				<div class="lable">
					<div class="right">*כתובת (רחוב ומספר) </div>
					<div class="left">Address*</div>
					<div class="clear"></div>
				</div>
				<input type="text" class="txt"/>
				<div class="lable">
					<div class="right">*עיר</div>
					<div class="left">City*</div>
					<div class="clear"></div>
				</div>
				<input type="text" class="txt"/>
				<div class="lable">
					<div class="right">*מין</div>
					<div class="left">Gender*</div>
					<div class="clear"></div>
				</div>
				<input type="text" class="txt"/>
				<div class="lable">
					<div class="right">*ת. לידה לועזי</div>
					<div class="left">Date of Birth*</div>
					<div class="clear"></div>
				</div>
				<div class="input-bg ltr">
					<input type="text" class="txt dd" placeholder="dd"/>
					<input type="text" class="txt dd" placeholder="mm"/>
					<input type="text" class="txt yyyy" placeholder="yyyy"/>
				</div>
				<div class="lable">
					<div class="right">ת.לידה עברי</div>
					<div class="left">Hebrew Date of Birth</div>
					<div class="clear"></div>
				</div>
				<input type="text" class="txt"/>
				<input type="button" class="btn" value="המשך"/>
			</form>
		</div>
	</div>
	<div class="footer">
		<p>נתקלת בבעיה? שלח לנו מייל לכתובת <a href="mailto:vaadatbchirotby@gmail.com">vaadatbchirotby@gmail.com</a>  
<br>
עם שם ומספר נייד ונחזור אליך</p>
		<p class="powered">powered by My T Interactive Ltd</p>
	</div>
</body>
</html>
