<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
	<title>התפקדות לבית היהודי</title>
	<link rel="stylesheet" href="css/html5reset-1.6.1.css" />
	<link rel="stylesheet" href="css/style.css" />
</head>
<body>
	<div class="basad">בס"ד</div>
	<div class="logo">
		<p><a href="pg0.html" class="footer-btn">חזרה לעמוד הראשי</a></p>
		<img src="images/logo.gif" alt="logo"/>
	</div>
	<div class="stp1">
		<h3><span>פרטי כרטיס אשראי</span> (שלב 4 מתוך 4):</h3>
		<div class="form">
			<iframe width="370px" height="455px"></iframe>
		</div>
	</div>
	<div class="footer">
		<p>נתקלת בבעיה? שלח לנו מייל לכתובת <a href="mailto:vaadatbchirotby@gmail.com">vaadatbchirotby@gmail.com</a>  
<br>
עם שם ומספר נייד ונחזור אליך</p>
		<p class="powered">powered by My T Interactive Ltd</p>
	</div>
</body>
</html>
