/* -------------------------------- 

Primary style
background-color:#15C8D8; myt-blue
background-color:#4cddf3; myt-light blue 
old-background-color:#1784c7; blue
color: #ff6a00; orange
color dark gray-blue=#24343F
c-------------------------------- */

body {
    font-family: Arial;
}

.bs-body {
    direction: rtl;
    margin: 20px;
    clear: both;
}

    .bs-body ul {
        float: right;
    }

.mainDivCls {
    width: 500px;
    margin-right: 100px;
    line-height: 25px;
}

input[type="text"], input[type="number"], select, textarea {
    border: 0 !important;
    border-bottom: solid 1px #c0c0c0 !important;
}

.input-section {
    width: 500px;
}

label.column {
    width: 100px;
    padding: 0px;
    margin: 0px;
}

.label.column-wide {
    width: 200px;
}

.label.column-large {
    width: 300px;
    padding: 0px;
    margin: 0px;
    /*display: inline;*/
}
label.border {
    border: solid 1px #c0c0c0;
    padding: 2px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px; /*give the button a drop shadow*/
}
label.white{
    background-color:#fff;
}
label.line-space-10 {
    padding-left:5px;
    padding-right:5px;
}
/*colors =========================================================*/
.bgc-white {
    background-color: #fff
}

.bgc-trans {
    background-color: transparent
}

/*size =========================================================*/
.maxw-800 {
    max-width: 800px;
}

.padding-10 {
    padding: 10px
}
/*form ============================================================*/

.form-group-inline {
    display: inline-block;
    padding-left: 10px !important;
    margin-bottom: 4px !important
}

.form-group-inline-left {
    display: inline-block;
    padding-right: 10px !important;
    margin-bottom: 4px !important
}
.form-group {
    margin-bottom: 4px !important
}

.form-group.pasive {
    display: none;
}

.item-pasive, .pasive {
    display: none;
}

div.field {
    font-size: 14px;
    font-weight: bold;
}

textarea.text-content {
    width: 90%;
    height: 80px;
    direction: rtl
}

textarea.text-content-mid {
    width: 90%;
    height: 120px;
    max-width: 600px;
    direction: rtl
}

input.text-wide {
    width: 300px;
}

input.text-short {
    width: 100px !important;
}

input.text-normal {
    width: 140px !important;
}

/*input.text-mid {
}*/

input.label {
    border: 0!important;
    background-color: transparent;
}
input.label-line {
    border: 0;
    border-bottom: solid 1px #c0c0c0;
    background-color: transparent;
}
input.label-border {
    border: 0;
    border: solid 1px #c0c0c0;
    background-color: transparent;
}

input.disabled {
    background: #dddddd;
}

.w-60 {
    width: 60px;
    text-align: center;
}

.w-80 {
    width: 80px;
    text-align: center;
}

.font-90 {
    font-size: 90%;
    direction: rtl;
}

.error-bag {
    background-color: #ee7f7f;
    margin-top: 5px;
}

.editor-view {
    top: 55px;
    position: fixed;
    width: 80%;
    height: 90%;
    z-index: 1000;
}

/* toolbar */

nav {
    margin-bottom: 5px;
}

ul.toolbar {
    font-size: 0.8em;
    font-weight: 100;
    margin: 0 0 5px;
    padding: 0;
    text-align: right;
}

    ul.toolbar li {
        display: inline;
        list-style: none;
        padding: 5px 25px;
        text-align: center;
        background-color: #4cddf3;
        border: 1px solid #33842a;
        /*color: #fff;*/
        /*width: auto;*/
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px; /*give the button a drop shadow*/
        -webkit-box-shadow: 0 0 4px rgba(0,0,0, .75);
        -moz-box-shadow: 0 0 4px rgba(0,0,0, .75);
        box-shadow: 0 0 4px rgba(0,0,0, .75); /*style the text*/
    }

        ul.toolbar li:hover {
            display: inline;
            list-style: none;
            background-color: #399630;
            -webkit-box-shadow: 0 0 1px rgba(0,0,0, .75);
            -moz-box-shadow: 0 0 1px rgba(0,0,0, .75);
            box-shadow: 0 0 1px rgba(0,0,0, .75);
        }

        ul.toolbar li input {
            background: #ffffff;
            color: #000000;
            text-decoration: none;
        }

        ul.toolbar li a {
            background-color: #4cddf3;
            color: #fff;
            text-decoration: none;
        }

            ul.toolbar li a:hover {
                color: #333;
                text-decoration: none;
            }

.btn-tab:hover {
    color: #ffffff;
    background: #4cddf3; /*#15C8D8;*/
    text-decoration: none !important;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
}
.btn-tab {
    background: #15C8D8; /*#697580;*/
    font: 14px 'Arial';
    display: inline-block;
    color: #ffffff;
    /*height: 25px;*/
    /*width: 150px;*/
    padding: 5px 14px;
    border: solid 1px #808080;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px; /*give the button a drop shadow*/
    -webkit-box-shadow: 0 0 4px rgba(0,0,0, .75);
    -moz-box-shadow: 0 0 4px rgba(0,0,0, .75);
    box-shadow: 0 0 4px rgba(0,0,0, .75); /*style the text*/
}
.btn-tab-small {
    background: #15C8D8; /*#697580;*/
    font: 14px 'Arial';
    display: inline-block;
    color: #ffffff;
    padding: 3px 5px;
    border: solid 1px #808080;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.btn-small {
    box-shadow: none;
    position: relative;
    text-decoration: none !important;
    padding: 3px 5px;
    font: 12px 'Arial';
    margin: 0 2px; 
    text-shadow: none;
    color: #ffffff;
    border: solid 1px #808080;
    border-radius: 5px;
    background: #697580;
    display: inline-block;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.btn-small:hover {
    color: #ffffff;
    background: #4cddf3;
    border: solid 1px #808080;
    text-decoration: none !important;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.btn-bar a {
    display: inline;
    list-style: none;
    padding: 5px 25px;
    text-align: center;
    background-color: #6b6dbb;
    border: 1px solid #33842a;
    color: #fff;
    /*width: auto;*/
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px; /*give the button a drop shadow*/
    -webkit-box-shadow: 0 0 4px rgba(0,0,0, .75);
    -moz-box-shadow: 0 0 4px rgba(0,0,0, .75);
    box-shadow: 0 0 4px rgba(0,0,0, .75); /*style the text*/
}

    .btn-bar a:hover {
        display: inline;
        list-style: none;
        background-color: #399630;
        -webkit-box-shadow: 0 0 1px rgba(0,0,0, .75);
        -moz-box-shadow: 0 0 1px rgba(0,0,0, .75);
        box-shadow: 0 0 1px rgba(0,0,0, .75);
    }

.rtl {
    direction: rtl;
}

.box-title {
    direction: rtl;
    border-bottom: solid 1px #808080;
}

.box-row {
    margin-right: -24px;
    margin-left: -15px;
}

.box-center {
    padding-top: 23px;
    margin-bottom: 16px;
}

    .box-center .col-lg-6 {
        padding-top: 23px;
    }

.box-choose {
    padding-top: 20px;
    padding-bottom: 16px;
}

    .box-choose .col-lg-6 {
        padding-top: 23px;
    }

.media-image {
    margin-bottom: 10px;
}
/*grid extension====================================================*/

.grid-toolbar {
    background-color: #E8E8E8;
    border: solid 1px #C7C7C7;
    width: 100%;
    height: 100%;
    min-height: 35px;
    overflow: auto;
}

.grid-wrap {
    padding: 0;
    margin: 0;
}

.jqx-grid-cell {
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
}

/*
.overlay {
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 999;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
}
*/
​
/*jquery.UI extension====================================================
Primary style
background-color:#15C8D8; myt-blue
background-color:#4cddf3; myt-light blue 
background-color:#E8E8E8; gray 
color: #C7C7C7; dark gray border
color: #ff6a00; orange
-------------------------------- */
.dialog-header {
    font: normal normal normal 10px/1.5 Arial, Helvetica, sans-serif;
}

.ui-dialog > .ui-widget-header {
    background: #15C8D8;
    color: #fff;
    line-height:15px;
    font-size: 80% !important;
}

.ui-dialog-osx {
    font: normal normal normal 10px/1.5 Arial, Helvetica, sans-serif;
    -moz-border-radius: 0 0 8px 8px;
    -webkit-border-radius: 0 0 8px 8px;
    border-radius: 0 0 8px 8px;
    border-width: 0 8px 8px 8px;
}
 
/*
.ui-accordion-header-active {
    background: #15C8D8 !important;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    background-image: none;
    background: #15C8D8 !important;
}

.ui-accordion .ui-accordion-header {
    height: 30px !important;
    font-size: 80% !important;
}
*/
/*tabs*/
/*
#tabs .ui-widget-header {
    background: transparent;
    border: none;
    border-bottom: 1px solid #c0c0c0;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}

#tabs .ui-tabs-nav .ui-state-default {
    float: right;
    background: transparent;
    border: none;
}

#tabs .ui-tabs-nav .ui-state-active {
    border: none;
}

#tabs .ui-tabs-nav .ui-state-default a {
    color: #c0c0c0;
}

#tabs .ui-tabs-nav .ui-state-active a {
    color: #fff !important;
}
*/

.tab-container {
    width: 100%;
    direction: rtl;
    border: none;
    /*font-size: 80%;*/
}

.tab-group {
    float: right;
    /*height: 100%;*/
    margin: 5px;
    padding-left: 10%;
}

/*wizard=================================*/
#wizard ul {
    display: none !important;
}

    #wizard ul > li {
        display: none !important;
    }

        #wizard ul > li > a {
            display: none !important;
        }
/*#wizard-steps {float:left;margin:10px 5px;width:100%;}*/
#wizard-validation {
    float: right;
    margin-right: 5px;
    border: none;
    background: #fff;
    width: 80%;
    color: #ff0000
}

#wiz-container .wiz-tab {
    display: none;
    position: relative
}

    #wiz-container .wiz-tab.active {
        display: block;
        position: relative
    }

div#wiz-loader {
    display: none;
}

    div#wiz-loader.active {
        display: block;
        background: url(images/loading.gif) center center no-repeat;
        width: 100%;
        text-align: center;
        position: absolute;
    }

/*div#wiz-loader.active{content:url(images/loading.gif);text-align:center;}​*/

.nis-loader {
    display: block;
    background: url(images/loading.gif) center center no-repeat;
    /*width: 100%;
            height:60px;*/
    /*text-align: center;*/
    margin: 0 auto;
    /*content: url(images/loading.gif/200X50);*/
}
/* Hide all the children of the 'loading' element */
/*.nis-loader * {
    display: none;  
}*/
.box {
    display: block;
    margin: 0 auto;
    direction: rtl
}

.box-hide {
    opacity: 0;
}
.box-show {
    opacity: 1;
}
.box-slide {
        display: block;
        margin: 0 auto;
        direction: rtl;
        opacity: 1;
        transition: all 0.5s linear;
}

/*---------------------------------------------------------------------------------------------------------------------------*/
.container-box {
    direction: rtl;
    margin-left: 10%;
    margin-right: 10%;
}

.panel-window {
    background-color: #fff;
    direction: rtl;
    margin: 5px;
    /*max-width: 600px;*/
    width:99%;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px; /*give the button a drop shadow*/
    -webkit-box-shadow: 0 0 4px rgba(0,0,0, .75);
    -moz-box-shadow: 0 0 4px rgba(0,0,0, .75);
    box-shadow: 0 0 4px rgba(0,0,0, .75); /*style the text*/
}

.panel-header {
    background-color: #E8E8E8;
    border: solid 1px #C7C7C7;
    width: 100%;
    height:30px;
    overflow: auto;
    font-size:14px;
    font-weight: bold;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px; /*give the button a drop shadow*/
    -webkit-box-shadow: 0 0 4px rgba(0,0,0, .75);
    -moz-box-shadow: 0 0 4px rgba(0,0,0, .75);
    box-shadow: 0 0 4px rgba(0,0,0, .75); /*style the text*/
}
    .panel-header a {
        float: left;
        margin: 3px 10px
    }
.panel-page-header {
    color: #fff;
    background-color: #46d6db; /*#20a1b5;*/
    border: solid 1px #C7C7C7;
    width: 100%;
    height: 30px;
    overflow: auto;
    font-size: 16px;
    font-weight: bold;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px; /*give the button a drop shadow*/
    -webkit-box-shadow: 0 0 4px rgba(0,0,0, .75);
    -moz-box-shadow: 0 0 4px rgba(0,0,0, .75);
    box-shadow: 0 0 4px rgba(0,0,0, .75); /*style the text*/
}

.panel-area-header {
    background-color: #697580;
    height: 30px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px; /*give the button a drop shadow*/
}

    .panel-area-header > h3 {
        margin-right: 10px
    }

.panel-area-title {
    background-color: #ffffff;
    font-size: 16px;
    font-weight:bold;
    color: #20a1b5;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px; /*give the button a drop shadow*/
}

.panel-area {
    /*background-color: #f3f2f2;*/
    margin-bottom: 5px;
    padding: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px; /*give the button a drop shadow*/
    -webkit-box-shadow: 0 0 4px rgba(0,0,0, .75);
    -moz-box-shadow: 0 0 4px rgba(0,0,0, .75);
    box-shadow: 0 0 4px rgba(0,0,0, .75); /*style the text*/
}

.panel-area-titleB {
    background-color: #20a1b5;
    font-size: 16px;
    /*font-weight:bold;*/
    color: #ffffff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px; /*give the button a drop shadow*/
}

.panel-areaB {
    background-color: #ffffff;
    margin-bottom: 5px;
    padding: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px; /*give the button a drop shadow*/
    -webkit-box-shadow: 0 0 4px rgba(0,0,0, .75);
    -moz-box-shadow: 0 0 4px rgba(0,0,0, .75);
    box-shadow: 0 0 4px rgba(0,0,0, .75); /*style the text*/
}

.panel-btn-2 {
    background-color: #f3f2f2;
    font-size: 100%;
    margin-bottom: 5px;
    margin-left: 5px;
    padding: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px; /*give the button a drop shadow*/
    -webkit-box-shadow: 0 0 2px rgba(0,0,0, .75);
    -moz-box-shadow: 0 0 2px rgba(0,0,0, .75);
    box-shadow: 0 0 2px rgba(0,0,0, .75); /*style the text*/
}

.global-view { /*margin-right:10%;*/
    padding: 0;
    background: #ffffff;
}

.global-rtl {
    direction: rtl;
    padding: 0;
    background: #ffffff;
}

.column-right {
    padding-left: 10px;
    float: right;
    /*width: 50%;*/
    /*display:block;*/
}

.column-left {
    padding-right: 10px;
    float: left;
    /*width: 50%;*/
    /*display:block;*/
}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.section-111 {
    flex: 1; /*grow*/
    margin: 2px;
    /*border: 1px solid;*/
}


select.style-select {
    /*direction: rtl;
unicode-bidi: bidi-override;
text-align: right;*/
    font-size: 14px;
    padding: 5px; /* If you add too much padding here, the options won't show in IE */
    margin-left: 5px;
    /*-moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;*/
}

.section-table {
    display: table;
    table-layout: fixed; /*euqal column width*/
    width: 100%;
}

.section-cell {
    display: table-cell;
    padding-left: 10px;
}
/*---------------------------------------------------------------------------------------------------------------------------*/

@media (max-width: 768px) {
    .section-cell {
        display: block;
    }
}

@media (max-width: 560px) {
    .container-box {
        direction: rtl;
        margin-left: 4px;
        margin-right: 4px;
    }
}
