@{ 
    Layout = "~/Views/Shared/_ViewCo.cshtml";
    Page.Title = "PaymentsQuery";
    var userRole = Nistec.Types.ToInt(ViewBag.UserRole);
    string exportClass = userRole < 5 ? "hide" : "shoe";
}

@section head {


@Scripts.Render("~/bundles/jqx")
@*<link rel="stylesheet" href="~/Scripts/bootstrap/css/bootstrap.css">*@
@*<script src="~/Scripts/bootstrap/bootstrap.min.js"></script>*@
    <style type="text/css">
        table {
            direction: rtl;
        }

        td {
            padding-top: 0px;
            padding-bottom: 5px;
        }

        .headline {
            color: #32A7C0;
            font-weight: bold;
        }
        .ui-accordion-header-active {
            background: #15C8D8;
        }
        #accordion {
            direction: rtl;
            width: 400px;
            float: right;
        }
    </style>
    @*<script>
        $(function () {
            $('#tab-query li:eq(0) a').tab('show');
        });
    </script>*@

    <script type="text/javascript">
        $(document).ready(function () {
            JSON.useDateParser();
            var me = this;

            $("#accordion").accordion({ heightStyle: "content" });

            $("#allItems").prop('checked', true);
            $("#allCampaign").prop('checked', true);

            $('.date').jqxDateTimeInput({ showCalendarButton: true, width: '150px', rtl: true });
            $('#SignupDateFrom1').val('');
            $('#SignupDateTo1').val('');
            $('#SignupDateFrom2').val('');
            $('#SignupDateTo2').val('');
            $('#SignupDateFrom3').val('');
            $('#SignupDateTo3').val('');


            //$('#SignupDateFrom').jqxDateTimeInput({ showCalendarButton: true, width: '150px', rtl: true });
            //$('#SignupDateTo').jqxDateTimeInput({ showCalendarButton: true, width: '150px', rtl: true });

            //$('#SignupDateFrom').val('');
            //$('#SignupDateTo').val('');

            $("#expnder-1").jqxExpander({ width: 'auto', rtl: true, expanded: false });
            //$("#ReportType").selectmenu();

            var itemsAdapter = app_jqxcombos.createListAdapter("PropId", "PropName", "listItems", '@Url.Action("GetPriceListView", "Common")', 200, 100, true);
            $('#listItems').jqxListBox({ multiple: true, rtl: true });
            $('#listItems').on('change', function (event) {
                app_jqxcombos.listBoxToInput("listItems", "Items", "allItems");
            });

            app_jqx_list.campaignComboAdapter('.campaign');

            @*var campaignAdapter = app_jqxcombos.createComboAdapter("PropId", "PropName", "Campaign", '@Url.Action("GetCampaignView", "Common")', 200, 120, false);
            $('#Campaign').on('change', function (event) {
                $("#allCampaign").prop('checked', false);
            });*@

            //$('#btnPayment').on('click', function () {
            //    var action = $("#form1").find('input[name=op]:checked').val();

            //    $("#form1").attr('action', app.appPath() + action);
            //});
            //$("input[name=op]:radio").change(function () {
            //    //$("#rdDefault, #rdSms", "#rdMail").change(function () {
            //    var action = $("#form1").find('input[name=op]:checked').val();
            //    $("#form1").attr('action', app.appPath() + action);
            //});
            $('#reset').on('click', function () {
                location.reload();
            });
            $('#btnPayment').on('click', function () {
                var action = "/Co/PaymentsReport";
                $("#QueryType1").val(0);
                $("#form1").attr('action', app.appPath() + action);
                $("#form1").submit();
            });
            $('#btnPaymentExport').on('click', function () {
                var action = "/Co/PaymentsExport";
                $("#QueryType1").val(20);
                $("#form1").attr('action', app.appPath() + action);
                $("#form1").submit();
            });

            $('#btnFailedPayemnrt').on('click', function () {
                var action = "/Co/PaymentsReport";
                $("#QueryType2").val(1);
                $("#form2").attr('action', app.appPath() + action);
                $("#form2").submit();
            });
            $('#btnFailedPayemnrtExport').on('click', function () {
                var action = "/Co/PaymentsExport";
                $("#QueryType2").val(21);
                $("#form2").attr('action', app.appPath() + action);
                $("#form2").submit();
            });
            $('#btnDuplicatePayemnrt').on('click', function () {
                var action = "/Co/PaymentsReport";
                $("#QueryType3").val(2);
                $("#form3").attr('action', app.appPath() + action);
                $("#form3").submit();
            });
            $('#btnDuplicatePayemnrtExport').on('click', function () {
                var action = "/Co/PaymentsExport";
                $("#QueryType3").val(22);
                $("#form3").attr('action', app.appPath() + action);
                $("#form3").submit();
            });

        });

    </script>
}

<!--breadcrumb-->
<div class="breadcrumbs">
</div>

<div class="top-space"></div>


<div class="global-view">
    <div class="container-box">

        <div id="accordion">
            <h3>איתור תשלומים</h3>
            <div id="exp-1" style="padding:0;margin:0">
                <div class="expander-entry">
                    <form id="form1" action="PaymentsReport" method="post">
                        <input type="hidden" id="Items" name="Items" />
                        <input type="hidden" id="QueryType1" name="QueryType" value="0" />
                        <div id="tab-adv">
                            <ul>
                                @*<li>סוג תשלום</li>
                                <li>
                                    <select id="QueryType" name="QueryType">
                                        <option value="0" selected>תשלומים שהתקבלו</option>
                                        <option value="1">תשלומים שנכשלו</option>
                                    </select>
                                </li>*@
                                <li class="headline">תעודת זהות</li>
                                <li><input type="text" name="MemberId" style="width:120px" maxlength="10" /></li>
                            </ul>
                        </div>
                        <div id="expnder-1" style="width:90%;">
                            <div>
                                איתור מתקדם
                            </div>
                            <div class="rtl">
                                <ul style="margin-right:10px;">
                                    <li class="headline">קמפיין</li>
                                    <li>
                                        <div class="campaign" id="Campaign1" name="Campaign"></div>
                                        @*<input type="checkbox" id="allCampaign" name="allCampaign" />&nbsp;<span>הצג הכל</span>*@
                                    </li>

                                    <li class="headline">פריטים-בחירה מרובה</li>
                                    <li>
                                        <div id="listItems" name="listItems"></div>
                                        <input type="checkbox" id="allItems" name="allItems" />&nbsp;<span>הצג הכל</span>
                                    </li>

                                    <li class="headline">מחיר</li>
                                    <li>
                                        <div style="vertical-align:top">
                                            <span>מ:</span><br />
                                            <input type="number" name="PriceFrom" step="any" /><br />
                                            <span>עד:</span><br />
                                            <input type="number" name="PriceTo" step="any" />
                                        </div>
                                    </li>

                                    <li class="headline">מועד תשלום</li>
                                    <li>
                                        <div style="vertical-align:top">
                                            <span>מ:</span><br />
                                            <div class="date" id="SignupDateFrom1" name="SignupDateFrom"></div>
                                            <span>עד:</span><br />
                                            <div class="date" id="SignupDateTo1" name="SignupDateTo"></div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                            <div style="height:10px"></div>
                            <div>
                                <input id="btnPayment" type="button" value="הצג" class="btn-default btn7" />
                                <input id="btnPaymentExport" type="button" value="ייצוא לקובץ" class="btn-default btn7" />
                                <input type="reset" value="נקה" class="btn-default btn7" />
                            </div>
                    </form>
                </div>
           </div>
            <h3>איתור תשלומים שנכשלו</h3>
            <div id="exp-2" style="padding:0;margin:0">
                <div class="expander-entry">
                    <form id="form2" action="PaymentsReport" method="post">
                        <input type="hidden" id="QueryType2" name="QueryType" value="1" />
                        <div style="height:10px"></div>
                        <div class="rtl">
                            <ul style="margin-right:10px;">
                                <li>
                                    <div class="campaign" id="Campaign2" name="Campaign"></div>
                                    @*<input type="checkbox" id="allCampaign" name="allCampaign" />&nbsp;<span>הצג הכל</span>*@
                                </li>
                                <li class="headline">מועד תשלום</li>
                                <li>
                                    <div style="vertical-align:top">
                                        <span>מ:</span><br />
                                        <div class="date" id="SignupDateFrom2" name="SignupDateFrom"></div>
                                        <span>עד:</span><br />
                                        <div class="date" id="SignupDateTo2" name="SignupDateTo"></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div style="height:10px"></div>
                        <div>
                            <input id="btnFailedPayemnrt" type="button" value="הצג" class="btn-default btn7" />
                            <input id="btnFailedPayemnrtExport" type="button" value="ייצוא לקובץ" class="btn-default btn7" />
                            <input type="reset" value="נקה" class="btn-default btn7" />
                        </div>
                    </form>
                </div>
            </div>

            <h3>איתור כפילויות בתשלום</h3>
            <div id="exp-3" style="padding:0;margin:0">
                <div class="expander-entry">
                    <form id="form3" action="PaymentsReport" method="post">
                        <input type="hidden" id="QueryType3" name="QueryType" value="2" />
                        <div style="height:10px"></div>
                        <div class="rtl">
                            <ul style="margin-right:10px;">
                                <li>
                                    <div class="campaign" id="Campaign3" name="Campaign"></div>
                                    @*<input type="checkbox" id="allCampaign" name="allCampaign" />&nbsp;<span>הצג הכל</span>*@
                                </li>
                                <li class="headline">מועד תשלום</li>
                                <li>
                                    <div style="vertical-align:top">
                                        <span>מ:</span><br />
                                        <div class="date" id="SignupDateFrom3" name="SignupDateFrom"></div>
                                        <span>עד:</span><br />
                                        <div class="date" id="SignupDateTo3" name="SignupDateTo"></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div style="height:10px"></div>
                        <div>
                            <input id="btnDuplicatePayemnrt" type="button" value="הצג" class="btn-default btn7" />
                            <input id="btnDuplicatePayemnrtExport" type="button" value="ייצוא לקובץ" class="btn-default btn7" />
                            <input type="reset" value="נקה" class="btn-default btn7" />
                        </div>
                    </form>
                </div>
            </div>

       </div>
    </div>
    <div class="clear"></div>
<script type="text/javascript">
    app_menu.activeLayoutMenu("liMain");
    app_menu.breadcrumbs("Main", "PaymentsQuery", 'en');
</script>



