@{
    Layout = "~/Views/Shared/_ViewCo.cshtml";
    Page.Title = "Sms";
}
@section head {

    @Scripts.Render("~/bundles/jqx")
   <script type="text/javascript" src="~/Scripts/app/dateFormat.js"></script>
   <script src="~/Scripts/app/Co/sms.js"></script>
 
  <script src="~/Scripts/plagins/tabs/jcxWizard.js"></script>
  <link href="~/Scripts/plagins/tabs/jcxwizard-light.css" rel="stylesheet" />

    <style type="text/css">
        .styledTable {
            direction:rtl; text-align:right;
        }
        .styledTableHeader {background-color:#0094ff;color:#fff;padding-left:20px;text-align:right;
        }
        .styledTableHeader {background-color:#0094ff;color:#fff;text-align:right;
        }
        .styledRowKey {padding-left:20px;text-align:right;
        }
        .styledRowValue {text-align:right;
        }
        #wizard-validation {
            background-color: transparent;
        }
     </style>
}

@section scripts {
    <script type="text/javascript">

    $(document).ready(function () {
        JSON.useDateParser();
        var theme = 'Arctic';

        var smsDef = new app_sms();
        //smsDef.init();
/*
        $('#btnShow').hide();

        //app_jqx_list.categoryComboAdapter();
        //app_jqxcombos.createCheckListAdapter("PropId", "PropName", "listCategory", "/Common/GetCategoriesView", 240, 140, false);


        app_jqx_list.categoryCheckListAdapter("listCategory", "Category");
        $("#listCategory").jqxListBox({ height: 200 });
        $('#listCategory').on('checkChange', function (event) {
            app_jqxcombos.listCheckBoxToInput("listCategory", "Category", "allCategory");
            //app_jqxcombos.listCheckBoxOutput("listCategory", "CategoryValue", "Category", "allCategory");
            getTargetsCount();
        });
        $("#allCategory").change(function () {
            if (this.checked) {
                $("#listCategory").jqxListBox('uncheckAll');
            }
            getTargetsCount();
        });

        $("#listPersonalDisplay").jqxListBox({ source: personalList, width: 200, height: 200, checkboxes: true, rtl: true });
        $('#listPersonalDisplay').on('checkChange', function (event) {
            app_jqxcombos.listCheckBoxToPersonal("listPersonalDisplay", "PersonalDisplay", null, true);
            $("#divPersonalFields").text($("#PersonalDisplay").val());
        });
          

        //initialize validator.
        $('#form').jqxValidator({
            rtl: true,
            hintType: 'label',
            animationDuration: 0,
            rules: [
                    //{
                    //    input: '#TargetCount', message: 'אין נמענים לשליחה!', action: 'keyup, blur', rule: function () {
                    //        var value = $("#TargetCount").val();
                    //        return value > 0;
                    //    }
                    //},
                { input: '#Message', message: 'חובה לציין נוסח הודעה!', action: 'keyup, blur', rule: 'required' },
                //{
                //    input: "#City1", message: 'חובה לציין עיר!', action: 'keyup, select', rule: function (input, commit) {
                //        var index = $("#City1").jqxComboBox('getSelectedIndex');
                //        return index != -1;
                //    }
                //},
            ]
        });
       
     
        function progress() {
            var val = progressbar.progressbar( "value" ) || 0;
            progressbar.progressbar( "value", val + Math.floor( Math.random() * 3 ) );
            if ( val <= 99 ) {
                progressTimer = setTimeout( progress, 50 );
            }
        }
        $('#test').on('click', function (e) {

            app_dialog.confirm("הדיוור יישלח ל  נמענים, האם להמשיך ?",
                        callBack = function (arg) {
                            alert(arg);
                        },'ok');

        });


        $('#submit').on('click', function (e) {
            var count = $("#TotalCount").val();
            app_jqxcombos.listCheckBoxToPersonalFields("#listPersonalDisplay", "#PersonalDisplay", "#PersonalFields")

            var validationResult = function (isValid) {
                if (isValid) {
                    app_dialog.confirm("הדיוור יישלח ל " + count + " נמענים, האם להמשיך ?",
                        callBack = function () {
                        app_dialog.dialogProgress(null, 'Send Broadcast');
                        $('#form').submit();
                    });
                }
            }
            $('#form').jqxValidator('validate', validationResult);
        });

        $('#reset').on('click', function (e) {
            location.reload();
            //$('#form')[0].reset();
            //$('#form').jqxValidator('hide');
        });

        $('#btnShow').on('click', function (e) {
            var cat;
            if ($('#allCategory').prop('checked'))
                cat = "all";
            else
                cat = $("#Category").val();

            if (cat == null || cat == "")
               app_dialog.alert("נא לסמן סיווג");
            else if ($("#TotalCount").val() > 0)
                app_dialog.dialogIframe('/Common/_Targets?mode=catsms&cat=' + cat, "580", "500", "רשימת נמענים לדיוור");
            
        });

        //$('#btnShow').on('click', function (e) {

        //    var cat;
        //    if ($('#IsAll').prop('checked'))
        //        cat = "all";
        //    else
        //        cat = $("#Category").val();

        //    if (cat == null || cat == "")
        //       app_dialog.alert("נא לסמן סיווג");
        //    else if ($("#TotalCount").val() > 0)
        //        popupIframe('/Common/_Targets?mode=catsms&cat=' + cat, "580", "500");

        //});

      
        //$("#IsAll").change(function () {
        //        getTargetsCount();
        //});
        //$('#Category').on('select', function (event) {
        //    getTargetsCount();
        //});

        //wizard ====================================
        var $tabs = $('#wizard').tabs();
        $('#wizard').css('height', '400px');
        $('.prev-tab').hide();
        $('.end-tab').hide();

        $('.next-tab').click(function () {

            var totalSize = $(".ui-tabs-panel").size() - 1;
            var active = $('#wizard').tabs("option", "active");
            switch (active) {
                case 0:
                    var value = $("#TotalCount").val();
                    if (value <= 0) {
                        return displayWizardValidation("אין נמענים לשליחה");
                    }
                    break;
            }
            //$('#wizard-validation').val("");
            var next = active + 1;
            if (next >= totalSize) {
                $('.next-tab').hide();
                $('.end-tab').show();
            }
            $('.prev-tab').show();
            $('#wizard').tabs({ active: next });
            displayStep(next, totalSize);
            return false;
        });
        $('.prev-tab').click(function () {
            var active = $('#wizard').tabs("option", "active");
            var prev = active - 1;
            if (prev <= 0) {
                $('.prev-tab').hide();
            }
            $('.end-tab').hide();
            $('.next-tab').show();
            $('#wizard-validation').val("");
            $('#wizard').tabs({ active: prev });
            displayStep(prev);
            //$tabs.tabs('select', $(this).attr("rel"));
            return false;
        });
        var displayStep = function (step, totalSize) {
            step++;
            if (totalSize === undefined)
                totalSize = $(".ui-tabs-panel").size() - 1;
            totalSize++;
            $('#wizard-validation').val("שלב " + step + " מתוך " + totalSize);
        }
        var displayWizardValidation = function (message) {
            $('#wizard-validation').val(message);
            return false;
        }
        displayStep(0);

        //end wizard =====================================

*/
    });

        /*
    function setTargetsCount(value) {

        $("#TotalCount").val(value);
        if (value > 0)
            $('#btnShow').show();
        else
            $('#btnShow').hide();
    }


    function getTargetsCount(isAll) {
        var cat;
        if ($('#allCategory').prop('checked'))
            cat = "all";
        else
            cat = $("#Category").val();

        if (cat != null && cat != "") {

            $.ajax({
                url: '/Common/GetTargetsCount',
                type: 'post',
                dataType: 'json',
                data: { 'mode': 'catsms', 'cat': cat },
                success: function (data) {
                    setTargetsCount(data);
                },
                error: function (jqXHR, status, error) {
                   alert(error);
                }
            });
        }
        else {
            setTargetsCount(0);
        }
    }

    //function setTargetsCount(value) {

    //    $("#TotalCount").val(value);
    //    if (value > 0)
    //        $('#btnShow').show();
    //    else
    //        $('#btnShow').hide();
    //}

    //    function getTargetsCount(isAll)
    //    {
    //        var cat;
    //        if ($('#IsAll').prop('checked'))
    //            cat = "all";
    //        else
    //            cat = $("#Category").val();

    //        if (cat != null && cat != "") {

    //            $.ajax({
    //                url: '/Common/GetTargetsCount',
    //                type: 'post',
    //                dataType: 'json',
    //                data: { 'mode': 'catsms', 'cat': cat },
    //                success: function (data) {
    //                    setTargetsCount(data);
    //                },
    //                error: function (jqXHR, status, error) {
    //                   app_dialog.alert(error);
    //                }
    //            });
    //        }
    //    }

         $("#Message").change(function () {
             var len = $(this).val().length;
             $('#CharCount').val(len);
        });

        $('#Message').keyup(function () {
            var len = $(this).val().length;
            $('#CharCount').val(len);
        });

        var personalList = [
     { label: 'תז', value: 'MemberId', checked: false },
     { label: 'שם פרטי', value: 'FirstName', checked: false },
     { label: 'שם משפחה', value: 'LastName', checked: false },
     { label: 'טלפון נייד', value: 'CellPhone', checked: false },
     { label: 'דואר אלקטרוני', value: 'Email', checked: false }
        ];
*/
</script>

}

<!--breadcrumb-->
<div class="breadcrumbs">
</div>

<div class="global-view">
    <div class="container-box">

        <div class="panel-page-header rtl">
            שליחת מסרון
        </div>
        <div style="height: 10px;">
        </div>

        <div class="panel-area">
            <h3 id="wizard-title" class="rtl panel-area-title">נמענים</h3>
            <div style="height: 10px;">
            </div>
            <div id="tag-form">

                <form class="form" id="form" method="post" action="@Url.Action("SendSmsCategory", "Co")">
                        <div id="wizard" class="jcx-wiz rtl tab-content">
                            <ul class="jcx-wiz-nav">
                                <li><a href="#tab-1" title="נמענים">1</a></li>
                                <li><a href="#tab-2" title="פרסונאליזציה">2</a></li>
                                <li><a href="#tab-3" title="נוסח">3</a></li>
                                <li><a href="#tab-4" title="תזמון">4</a></li>
                                <li><a href="#tab-5" title="מעקב">5</a></li>
                                <li><a href="#tab-6" title="סיכום">6</a></li>
                            </ul>
                            <div id="tab-1" class="ui-tabs-panel jcxwiz-panel">
                                <h3>נמענים</h3>
                                <div>
                                    <div class="form-group">
                                        סיווגים:
                                        <div id="listCategory"></div>
                                        <input type="hidden" id="Category" name="Category" />
                                        <input type="checkbox" id="allCategory" name="allCategory" /><span>  </span><span>שלח לכל המנויים</span>
                                    </div>
                                    <div class="form-group">
                                        סה"כ נמענים:<input type="text" id="TotalCount" readonly class="text-short" style="border:none" />
                                        <input type="button" id="btnShow" class="btn-default btn7 w-80" value="הצג נמענים"/>
                                        <br />
                                    </div>
                                </div>
                            </div>
                            <div id="tab-2" class="ui-tabs-panel jcxwiz-panel">
                                <h3>פרסונאליזציה</h3>
                                <div class="form-group">
                                    <div class="column">
                                        בחירת שדות פרסונאליים:
                                    </div>
                                    <div id="listPersonalDisplay"></div>
                                    <input type="hidden" id="PersonalDisplay" name="PersonalDisplay" />
                                    <input type="hidden" id="PersonalFields" name="PersonalFields" />
                                </div>
                                <p style="text-align: right; padding: 10px;max-height:100px;overflow:auto;">
                                    <span>לשליחת הודעה פרסונאלית יש לבחור את השדה מהרשימה (פרסונאלי) ולציין בגוף ההודעה במיקום הרצוי את שם השדה בתוך סוגריים מרובעים לדוגמא:</span>
                                    <br />
                                    <span>לדוגמא: [שם פרטי] שלום רב</span>

                                </p>
                            </div>
                            <div id="tab-3" class="ui-tabs-panel jcxwiz-panel">
                                <div class="form-group">
                                    <div class="column">
                                        נוסח:
                                    </div>
                                    <textarea id="Message" name="Message" style="min-width:350px; width:80%;height:280px"></textarea>
                                </div>
                                <div class="form-group">
                                    <div class="column">
                                        מספר תוים:
                                    </div>
                                    <input id="CharCount" name="CharCount" type="number" readonly="readonly" style="width:80px" />
                                </div>
                                <div class="form-group">
                                    <div>שדות פרסונאלים שנבחרו:</div>
                                    <div id="divPersonalFields"></div>
                                    <br />
                                </div>
                            </div>
                            <div id="tab-4" class="ui-tabs-panel jcxwiz-panel">

                                <div class="form-group">
                                    <div class="column">
                                        תזמון:
                                    </div>
                                </div>
                                <input type="hidden" id="DaysInWeek" name="DaysInWeek" />
                                <input type="hidden" id="TimeToSend" name="TimeToSend" />
                                
                                <div class="tab-radio-panel">
                                    <div style="display:block!important">
                                        <div>
                                            <input type="radio" value="1" checked="checked" name="ScheduleType" /><span>מיידי</span>

                                            <input type="radio" value="2" name="ScheduleType" /><span>מתוזמן</span>

                                            <input type="radio" value="3" name="ScheduleType" /><span>חלוקה למנות</span>
                                        </div>
                                    </div>
                                </div>

                                <div style="height:20px"></div>
                                <div style="max-width:400px">
                                    <div class="tab-content-panel">
                                        <div id="timming-group-1" class="panel-area active">
                                            <div class="panel-area-title">מיידי</div>
                                        </div>
                                        <div id="timming-group-2" class="panel-area pasive">
                                            <div class="panel-area-title">תזמון</div>
                                            <div class="tab-content-panel">
                                                <label for="datePending">
                                                    תאריך
                                                </label>
                                                <div type="text" id="datePending" class="date-pick"></div>

                                                <label for="txtPendingTime">
                                                    שעה
                                                </label>
                                                <input type="time" id="txtPendingTime" style="direction:ltr;width:80px" />
                                            </div>
                                        </div>
                                        <div id="timming-group-3" class="panel-area pasive">
                                            <div class="panel-area-title">חלוקה למנות</div>
                                            <div class="tab-content-panel">
                                                <div>
                                                    <label for="txtTime">
                                                        התחלה תאריך
                                                    </label>
                                                    <div id="dateStartBatch" class="date-pick"></div>
                                                </div>
                                                <div>
                                                    <label id="lblBatchValue">מספר נמענים בכל מנה</label>
                                                </div>
                                                <div>
                                                    <input type="text" id="PartCount" name="PartCount" style="width:80px" />
                                                </div>
                                                <div>
                                                    <label id="lblBatchSaprate">מרווח בין מנה למנה</label>
                                                </div>
                                                <div>
                                                    <input type="text" id="Interval" name="Interval" style="width:80px" />
                                                    <select id="IntervalType" name="IntervalType">
                                                        <option value="M">דקות</option>
                                                        <option value="H">שעות</option>
                                                        <option value="D">ימים</option>
                                                    </select>
                                                    @*<div id="ddlBatchDelayMode" style="width:80px">
                                                    </div>*@
                                                </div>
                                                <div>
                                                    <label id="lblBatchDayes">ימים</label>

                                                    <div id="chkBatchDays">
                                                        <input type="checkbox" id="day-1" /><label>א</label>
                                                        <input type="checkbox" id="day-2" /><label>ב</label>
                                                        <input type="checkbox" id="day-3" /><label>ג</label>
                                                        <input type="checkbox" id="day-4" /><label>ד</label>
                                                        <input type="checkbox" id="day-5" /><label>ה</label>
                                                        <input type="checkbox" id="day-6" /><label>ו</label>
                                                        <input type="checkbox" id="day-7" /><label>ש</label>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="tab-content-panel">
                                                <div class="panel-area active">
                                                    <div class="panel-area-title">טווח זמנים</div>
                                                    <fieldset dir="rtl">
                                                        <legend>טווח זמנים</legend>
                                                        שעת התחלה:
                                                        <div class="spinContainer">
                                                            <input type="time" class="spinInput" id="TimeStart" name="TimeStart" value="08:00" style="width:100px"
                                                                   min="01:00" max="23:50" required pattern="[0-9]{2}:[0-9]{2}" step="2"
                                                                   onpaste="return HandelAnyPaste(this);" onkeypress="return HandelAnyKey(event);" />
                                                            @*<input type="button" title="הוספה" class="spinUpBtn" />
                        <input type="button" title="הורדה" class="spinDownBtn" />*@
                                                        </div>
                                                        שעת סיום:
                                                        <div class="spinContainer">
                                                            <input type="time" class="spinInput" id="TimeEnd" name="TimeEnd" value="22:00" style="width:100px"
                                                                   min="01:00" max="23:50" required pattern="[0-9]{2}:[0-9]{2}" step="2"
                                                                   onpaste="return HandelAnyPaste(this);" onkeypress="return HandelAnyKey(event);" />
                                                            @*<input type="button" title="הוספה" class="spinUpBtn" />
                        <input type="button" title="הורדה" class="spinDownBtn" />*@
                                                        </div>
                                                    </fieldset>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="tab-5" class="ui-tabs-panel jcxwiz-panel">
                                <div class="form-group">
                                    <div class="column">
                                        מעקב:
                                    </div>
                                </div>
                              
                                    <dl title="שליחת עדכונים ב">
                                        
                                        <dt>שליחת עדכונים ב </dt>
                                        <dd>
                                            <input type="checkbox" id="chkNotifyBegin"/><span>תחילת השליחה</span>
                                        </dd>
                                        <dd>
                                            <input type="checkbox" id="chkNotifyEnd"/><span>סיום השליחה</span>
                                        </dd>
                                        <dd>
                                            <input type="checkbox" id="chkNotifyReply"/><span>עדכוני סטטיסטיקה</span>
                                        </dd>
                                        <dd>
                                            <select id="ddlNotfyPlatform">
                                                <option value="0" selected>בחירת אמצעי שליחה</option>
                                                <option value="2">Mail</option>
                                                <option value="1">Mobile</option>
                                            </select>
                                        </dd>
                                    </dl>

                                    <dl title="נמענים">
                                        <dt>&nbsp;</dt>
                                        <dt>הוספת נמענים לעדכונים</dt>
                                        <dd>
                                            <input type="text"  id="txtNotify"  MaxLength="50" style="width:200px" />
                                            <input type="button" id="btnNotifyAdd" value="הוסף" class="btn-default btn7 w-60"
                                                   title="הוסף נמען לרשימת מקבלי העדכונים" OnClick="btnAddNotifyClicked" />

                                        </dd>
                                        <dt style="font-weight: bold">רשימת נמענים </dt>
                                        <dd>
                                            @*<div id="listNotify">
                                            </div>*@

                                            <select id="listNotify" name="listNotify" size="5" style="width:200px;height:100px"></select>

                                        </dd>
                                        <dd>

                                            <input type="button" id="btnNotifyRemove" value="הסר" OnClick="ListNotifyClicked"
                                                   class="btn-default btn7 w-60" />

                                            <input type="button" id="btnNotifyClear" value="נקה" OnClick="ListNotifyClear"
                                                   class="btn-default btn7 w-60" />

                                        </dd>
                                    </dl>
                            </div>
                            <div id="tab-6" class="ui-tabs-panel jcxwiz-panel">
                                <div class="form-group">
                                    <div class="column">
                                        סיכום:
                                    </div>
                                </div>



                            </div>
                        </div>
                 </form>
                @*<div id="dialog" title="Send broadcast">
                    <div class="progress-label">Wait...</div>
                    <div id="progressbar"></div>
                </div>*@

                @*<div id="progressbar">
                    <a id="testback" href="#">testback</a>
                </div>*@
            </div>
        </div>

        <div id="wizard-steps" class="panel-area">
            <input type="button" id="wizard-prev" class="btn-tab wizard-prev" value="הקודם" />
            <input type="button" id="wizard-next" class="btn-tab wizard-next" value="הבא" />
            <input type="button" id="wizard-submit" class="btn-tab wizard-end" value="סיום"/>
            <label id="wizard-message" style="color:red"></label>
        </div>
    </div>
</div>

<!--end of content-wrapper-->
<script type="text/javascript">
    app_menu.activeLayoutMenu("liCom");
    app_menu.breadcrumbs("Main", "SmsBroadcast", 'en');
</script>

