@{
    ViewBag.Title = "Registration Form";
}
@section scripts {
    <script src="~/Scripts/jq/jquery.min.js"></script>
    <script src="~/Scripts/plagins/uploader/js/vendor/jquery.ui.widget.js"></script>
    <script src="~/Scripts/plagins/uploader/js/jquery.iframe-transport.js"></script>
    <script src="~/Scripts/plagins/uploader/js/jquery.fileupload.js"></script>

    <link rel="stylesheet" href="~/Scripts/plagins/uploader/css/jquery.fileupload.css">

<script>
/*jslint unparam: true */
    /*global window, $ */

$(function () {
    'use strict';
    // Change this to the location of your server-side upload handler:
    var url ='@Url.Content("~/Ws/UploadFiles.asmx/Upload")';
    $('#fileupload').fileupload({
        url: url,
        formData: {
            param1: 'test'
                    ,param2: "value2"
                    ,param3: "yasseshaikh"
        },
        //dataType: 'json',
        done: function (e, data) {
            //for (var p in data) {
            //    //alert(p);
            //    $('<p/>').text(p).appendTo('#files');
            //}
            //alert(data.responseText);
            //$('<p/>').text(data.text).appendTo('#files');


            $.each(data.files, function (index, file) {
                $('<p/>').text(file.name).appendTo('#files');
                $('#files').prepend($('<img>', {style:'max-width:80px;height:auto', src: '@Url.Content("~/Uploads")' + '/'+file.name }))
            });
        },
        error: function (jqXHR, status, error) {
            alert(error);
        },
        progressall: function (e, data) {
            var progress = parseInt(data.loaded / data.total * 100, 10);
            $('#progress .progress-bar').css(
                'width',
                progress + '%'
            );
        }
    }).prop('disabled', !$.support.fileInput)
        .parent().addClass($.support.fileInput ? undefined : 'disabled');
});
</script>

}
<div style="width:250px">
    <span class="btn btn-success fileinput-button">
        <i class="glyphicon glyphicon-plus"></i>
        <span>Select files...</span>
        <!-- The file input field used as target for the file upload widget -->
        <input id="fileupload" type="file" name="files[]" multiple>
    </span>
    <br>
    <br>
    <!-- The global progress bar -->
    <div id="progress" class="progress">
        <div class="progress-bar progress-bar-success"></div>
    </div>
    <!-- The container for the uploaded files -->
    <div id="files" class="files"></div>
   
</div>