@model Pro.Mvc.Models.LoginModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home Page";

        
}

@section head {

      @Scripts.Render("~/bundles/jqx")
      <script type="text/javascript" src="~/jqwidgets/ex/mc-cmsWeb.js"></script>

}
@section featured {
}

@section scripts {


}

 
<div class="global">
    
    <div class="center-box">
        <div class="container">
             <div dir="rtl" class="row">
                        <div class="col-lg-11 col-md-12 col-sm-12 col-lg-offset-1">
                            <h2>כניסה למערכת</h2>

                            <section id="loginForm">
                                <p>לקוח יקר</p>
                                <p>עקב עדכוני אבטחה במערכת</p>
                                 <p>זמנית לא ניתן להיכנס למערכת, עמכם הסליחה</p>
                                <p>ניתן לפנות ל:<a href="mailto:shani@my-t.co.il">shani@my-t.co.il</a> </p>
                            </section>
                            <div id="cms_login_footer"></div>
                       </div>
                    </div>
        </div>
    </div>
  
</div>
