@{

    ViewBag.Title = "Crm";
    Layout = "~/Views/Shared/_View.cshtml";
    int rcdid = Nistec.Types.ToInt(Request["id"]);
    var userInfo = @Html.Raw(Json.Encode(ViewBag.UserInfo));
}

@section head {

    @Scripts.Render("~/bundles/jqx")
    <script type="text/javascript" src="~/Scripts/app/crm/members-def.js"></script>
    <link rel="stylesheet" href="~/Scripts/app/app-form.css" type="text/css" />
    @*<link rel="stylesheet" href="~/Scripts/bootstrap/css/bootstrap.css">
    <script src="~/Scripts/bootstrap/bootstrap.min.js"></script>*@

    <style type="text/css">
        /*.ui-tabs {
            direction: rtl;
        }

            .ui-tabs .ui-tabs-nav li.ui-tabs-selected, .ui-tabs .ui-tabs-nav li.ui-state-default {
                float: right;
            }

            .ui-tabs .ui-tabs-nav li a {
                float: right;
            }
            .ui-tabs .ui-tabs-nav {
                background: #FFF;
            }*/

        #tabs {max-width:400px;
            direction: rtl;
            background: transparent;
            border: none;
            font-size: 80%;
        }
       
        ​
        /*#tabs .ui-widget-header {
                background: transparent;
                border: none;
                border-bottom: 1px solid #c0c0c0;
                -moz-border-radius: 0px;
                -webkit-border-radius: 0px;
                border-radius: 0px;
            }

            #tabs .ui-tabs-nav .ui-state-default {
                float: right;
                background: transparent;
                border: none;
            }

            #tabs .ui-tabs-nav .ui-state-active {
                border: none;
            }

            #tabs .ui-tabs-nav .ui-state-default a {
                color: #c0c0c0;
            }

            #tabs .ui-tabs-nav .ui-state-active a {
                color: #32A7C0;
            }*/
        #tab-head {
            direction: rtl;
            height: 34px;
        }  
    </style>
}

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {

            $("#tabs").tabs();
            
            var def = new app_members_def('@rcdid', JSON.parse('@userInfo'), false);

            $('#reset').on('click', function () {
                location.reload();
            });


            $('#accSubmit').on('click', function (e) {

                e.preventDefault();
                def.doSubmit();
            });



            $('#accCancel').on('click', function (e) {
                $('#accForm')[0].reset();
                $('#accForm').jqxValidator('hide');
            });

            //$('#accForm').on('validationError', function (event) {
            //    alert('error');
            //    alert(event);
            //});

            //$('#accForm').on('validationSuccess', function (event) {
            //    alert('susccess');
            //    alert(event);
            //});

            //$('#accForm').jqxValidator({
            //    onError: function () {
            //        alert('You havent filled the form correctly!');
            //    }
            //});
            //$('#accForm').jqxValidator({
            //    onSuccess: function () {
            //        alert('Success!');
            //    }
            //});

        });

    </script>
}

<div class="breadcrumbs"></div>
<div class="top-space"></div>
<div class="global-view">
    <div class="container">
        <div id="accWindow">
            <div id="accHeader">
                <h3 id="accTitle" class="rtl">הגדרת מנוי</h3>
            </div>

            <div id="accBody">
                <form class="accForm" id="accForm" method="post" action="/Common/UpdateMember">
                    <div style="direction: rtl; text-align: right;">
                        <input type="hidden" id="ExType" />
                        <input type="hidden" id="RecordId" name="RecordId" value="0" />
                        <input type="hidden" id="AccountId" name="AccountId" value="" />
                        <input type="hidden" id="Categories" name="Categories" value="" />
                        <div id="tabs">
                            <ul id="tab-head">
                                <li class="active"><a href="#tab-personal" data-toggle="tab">פרטים אישיים</a></li>
                                <li><a href="#tab-general" data-toggle="tab">כללי</a></li>
                                <li><a href="#tab-notes" data-toggle="tab">הערות</a></li>
                            </ul>

                            <div id="tab-personal">
                                <div class="form-group">
                                    <div class="column">
                                        תעודת זהות :
                                    </div>
                                    <input id="MemberId" name="MemberId" type="text" class="text-mid" />
                                </div>
                                <div class="form-group">
                                    <div class="column">
                                        שם פרטי :
                                    </div>
                                    <input id="FirstName" name="FirstName" type="text" class="text-mid" />
                                </div>
                                <div class="form-group">
                                    <div class="column">
                                        שם משפחה :
                                    </div>
                                    <input id="LastName" name="LastName" type="text" class="text-mid" />
                                </div>
                                @*<div class="form-group">
                                    <div class="column">
                                        שם האב :
                                    </div>
                                    <input id="FatherName" name="FatherName" type="text" class="text-mid" />
                                </div>*@
                                <div class="form-group">
                                    <div class="column">
                                        כתובת :
                                    </div>
                                    <input id="Address" name="Address" type="text" class="text-mid" />
                                </div>
                                <div class="form-group">
                                    <div class="column">
                                        עיר :
                                    </div>
                                    <div id="City" name="City"></div>
                                </div>
                                 <div class="form-group">
                                     <div class="column">
                                         מגדר:
                                     </div>
                                    <div id="Gender" name="Gender"></div>
                                </div>
                                <div class="form-group">
                                    <div class="column">
                                        תאריך לידה:
                                    </div>
                                    <div id="Birthday" name="Birthday" ></div>
                                </div>
                                <div class="form-group">
                                    <div class="column">
                                        טלפון נייד:
                                    </div>
                                    <input id="CellPhone" name="CellPhone" type="text" class="text-mid" />
                                </div>
                                <div class="form-group">
                                    <div class="column">
                                        טלפון:
                                    </div>
                                    <input id="Phone" name="Phone" type="text" class="text-mid" />
                                </div>
                                <div class="form-group">
                                    <div class="column">
                                        דאר אלקטרוני:
                                    </div>
                                    <input id="Email" name="Email" type="text" class="text-mid" />
                                </div>
                            </div>
                            <div id="tab-general">
                                <div class="form-group">
                                    <div class="column">
                                        סניף :
                                    </div>
                                    <div id="Branch" name="Branch"></div>
                                </div>
                                <div class="form-group">
                                    <div class="column">
                                        סווג :
                                    </div>
                                    <div id="listCategory" name="listCategory" style="padding: 10px" data-type="checklist"></div>
                                </div>
                                <div id="divEnum1" class="form-group">
                                    <div id="lblEnum1" class="column">
                                    </div>
                                    <div id="ExEnum1" name="ExEnum1"></div>
                                </div>
                                <div id="divEnum2" class="form-group">
                                    <div id="lblEnum2" class="column">
                                    </div>
                                    <div id="ExEnum2" name="ExEnum2"></div>
                                </div>
                                <div id="divEnum3" class="form-group">
                                    <div id="lblEnum3" class="column">
                                    </div>
                                    <div id="ExEnum3" name="ExEnum3"></div>
                                </div>
                                <div id="divExId" class="form-group">
                                    <div id="lblExId" class="column">
                                    </div>
                                    <input type="text" name="ExId" class="text-mid" maxlength="50" />
                                </div>
                                <div id="divField1" class="form-group">
                                    <div id="lblExField1" class="column">
                                    </div>
                                    <input type="text" name="ExField1" class="text-mid" maxlength="250" />
                                </div>
                                <div id="divField2" class="form-group">
                                    <div id="lblExField2" class="column">
                                    </div>
                                    <input type="text" name="ExField2" class="text-mid" maxlength="250" />
                                </div>
                                <div id="divField3" class="form-group">
                                    <div  id="lblExField3" class="column">
                                    </div>
                                    <input type="text" name="ExField3" class="text-mid" maxlength="250" />
                                </div>

                            </div>
                            <div id="tab-notes">
                                <div class="form-group">
                                    <div class="column">
                                        הערות:
                                    </div>
                                    <textarea id="Note" name="Note" style="max-width:320px;width:80%;height:60px"></textarea>
                                </div>
                                <div class="form-group">
                                    <div class="column">
                                        מועד הצטרפות:
                                    </div>
                                    <input id="JoiningDate" name="JoiningDate" type="text" class="text-mid" readonly="readonly" />
                                </div>
                                <div class="form-group">
                                    <div class="column">
                                        מועד עדכון:
                                    </div>
                                    <input id="LastUpdate" name="LastUpdate" type="text" readonly="readonly" class="text-mid" />
                                </div>
                            </div>
                        </div>
                        <div style="height: 5px"></div>
                        <div>
                            <input id="accSubmit" class="btn-default btn7" type="button" value="עדכון" />
                            <input id="accCancel" class="btn-default btn7" type="button" value="ניקוי" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--end of content-wrapper-->
<script type="text/javascript">
    app_menu.activeLayoutMenu("liCrm");
    app_menu.breadcrumbs("Crm", "MemberEdit", 'en');
</script>
