<connectionStrings>
    <add name="cnn_pro" connectionString="Data Source=62.219.21.58; Initial Catalog=Netcell_SB; uid=netcell;password=Net5678; Connection Timeout=30" providerName="System.Data.SqlClient"/>
    <add name="cnn_proxy" connectionString="Data Source=62.219.21.58; Initial Catalog=Netcell_Proxy; uid=netcell;password=Net5678; Connection Timeout=30" providerName="System.Data.SqlClient"/>
    <add name="netcell_Logs" connectionString="Data Source=62.219.21.58; Initial Catalog=Netcell_Logs; uid=netcell;password=Net5678; Connection Timeout=30" providerName="System.Data.SqlClient"/>
    <add name="cnn_Trace" connectionString="Data Source=62.219.21.58; Initial Catalog=Nistec_Trace; uid=netcell;password=Net5678; Connection Timeout=30" providerName="System.Data.SqlClient"/>
    <add name="cnn_web" connectionString="Data Source=62.219.21.58; Initial Catalog=Netcell_Web; uid=netcell;password=Net5678; Connection Timeout=30" providerName="System.Data.SqlClient"/>
    <add name="netcell_services" connectionString="Data Source=62.219.21.58; Initial Catalog=Netcell_Services; uid=netcell;password=Net5678; Connection Timeout=30" providerName="System.Data.SqlClient"/>
    <add name="netcell_system" connectionString="Data Source=62.219.21.58; Initial Catalog=Netcell_System; uid=netcell;password=Net5678; Connection Timeout=30" providerName="System.Data.SqlClient"/>
    <add name="Default" connectionString="Data Source=62.219.21.58; Initial Catalog=Netcell_SB; uid=netcell;password=Net5678; Connection Timeout=30" providerName="System.Data.SqlClient"/>
</connectionStrings>