<?xml version="1.0"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <section name="Netlog" type="Nistec.Logging.NetlogConfig, Nistec.Logger, Version=4.0.2.0, Culture=neutral, PublicKeyToken=734a739868a76423" requirePermission="false"/>
    <section name="EntitySettings" type="Nistec.Data.Entities.Config.EntityConfig, Nistec.Data, Version=4.0.2.0, Culture=neutral, PublicKeyToken=734a739868a76423" requirePermission="false"/>
    <section name="CmsConfig" type="Nistec.Web.Cms.CmsConfig, Nistec.Web, Version=4.0.2.0, Culture=neutral, PublicKeyToken=734a739868a76423" requirePermission="false"/>
    <section name="RemoteCache" type="Nistec.Web.Cms.CmsConfig, Nistec.Web, Version=4.0.2.0, Culture=neutral, PublicKeyToken=734a739868a76423" requirePermission="false"/>
  </configSections>
  
  <Netlog>
    <NetlogSettings>
      <add key="LogFilename" value="C:\Nistec\Logs\Pro_crm.log"/>
      <add key="LogLevel" value="Debug|Info|Warn|Error|Trace"/>
      <add key="LogMode" value="File|Console"/>
    </NetlogSettings>
  </Netlog>
  
  <EntitySettings>
    <Entities>
      <Entity Name="Authorizer" MappingName="sp_Ad_UserAuthenticate" ConnectionKey="netcell_system" Mode="Config" SourceType="Procedure" EntityKey="UserId" LangResources=""/>
      <Entity Name="AuthorizerService" MappingName="sp_Ad_UserAuthenticateService" ConnectionKey="netcell_system" Mode="Config" SourceType="Procedure" EntityKey="UserId" LangResources=""/>
      <Entity Name="UserProfile" MappingName="Ad_UserProfile" ConnectionKey="netcell_system" Mode="Config" SourceType="Table" EntityKey="UserId" LangResources=""/>
      <Entity Name="UserMessage" MappingName="web_UserMessage" ConnectionKey="netcell_system" Mode="Config" SourceType="Table" EntityKey="MessageType" LangResources=""/>
      <Entity Name="EmailProvider" MappingName="web_EmailProvider" ConnectionKey="netcell_system" Mode="Config" SourceType="Table" EntityKey="Provider" LangResources=""/>
      <Entity Name="UserAuth" MappingName="sp_User_Auth" ConnectionKey="netcell_system" Mode="Config" SourceType="Procedure" EntityKey="UserId" LangResources=""/>
      <Entity Name="CmsSite" MappingName="web_CmsSite" ConnectionKey="netcell_system" Mode="Config" SourceType="Table" EntityKey="Provider" LangResources=""/>
      <Entity Name="UserPerms" MappingName="sp_Ad_Perms" ConnectionKey="netcell_system" Mode="Config" SourceType="Procedure" EntityKey="UserId,ItemName,ItemField" LangResources=""/>
      <Entity Name="UserData" MappingName="sp_Ad_UserData" ConnectionKey="cnn_pro" Mode="Config" SourceType="Procedure" EntityKey="UserId" LangResources=""/>
    </Entities>
    <EntityCache Enable="true" Timeout="30" Protocol="pipe"/>
  </EntitySettings>
  
  <CmsConfig>
    <CmsSettings CacheEnable="true" CacheTimeout="120" CacheProtocol="tcp" ConnectionKey="cnn_web"/>
  </CmsConfig>
  
  <RemoteCache>
    <CacheApiSettings>
      <add key="RemoteBundleHostName" value="nistec_cache_bundle"/>
      <add key="RemoteCacheHostName" value="nistec_cache_bundle"/>
      <add key="RemoteSyncCacheHostName" value="nistec_cache_bundle"/>
      <add key="RemoteSessionHostName" value="nistec_cache_bundle"/>
      <add key="RemoteDataCacheHostName" value="nistec_cache_bundle"/>
      <add key="IsRemoteAsync" value="false"/>
      <add key="EnableRemoteException" value="false"/>
    </CacheApiSettings>
    <TcpClientSettings>
      <host HostName="nistec_cache" Address="localhost" Port="13000" IsDuplex="true" IsAsync="false" SendTimeout="5000" ReadTimeout="1000" ReceiveBufferSize="4096" SendBufferSize="4096"/>
      <host HostName="nistec_cache_bundle" Address="localhost" Port="13000" IsDuplex="true" IsAsync="false" SendTimeout="500000" ReadTimeout="100000" ReceiveBufferSize="4096" SendBufferSize="4096"/>
    </TcpClientSettings>
  </RemoteCache>

  <connectionStrings configSource="connections.config"/>
    
  <appSettings file="C:\Dev\Domains\Co\References\Config\settings.config">
    <add key="baseUrl" value="http://localhost"/>
    <add key="WebCacheEnable" value="true"/>
    <add key="WebCacheTimeout" value="120"/>
    <add key="WebCacheProtocol" value="tcp"/>
    <add key="webpages:Version" value="2.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="PreserveLoginUrl" value="true"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="UploadFileTypes" value=".csv|.txt"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
     <compilation debug="true" targetFramework="4.5"/>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="2880"/>
    </authentication>
    <authorization>
      <deny users="*" verbs="OPTIONS, PROPFIND, HEAD"/>
    </authorization>
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Helpers"/>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Ajax"/>
        <add namespace="System.Web.Mvc.Html"/>
        <add namespace="System.Web.Optimization"/>
        <add namespace="System.Web.Routing"/>
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
    
    <customErrors mode="On" defaultRedirect="~/Home/Error">
      <error redirect="~/Home/ErrorNotFound" statusCode="404" />
    </customErrors>
    <httpRuntime maxRequestLength="1073741824" executionTimeout="1200"/>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <security>
        <requestFiltering>
          <requestLimits maxAllowedContentLength="1073741824" />
        </requestFiltering>
      </security>
    <modules runAllManagedModulesForAllRequests="true"/>
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit"/>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit"/>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0"/>
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
  </entityFramework>
</configuration>